/* ----------
APP
---------- */

.app__show-on-mobile {
  display: block;
}

.app__show-on-desktop {
  display: none;
}

@media (min-width: 600px) {
  .app__show-on-mobile {
    display: none;
  }

  .app__show-on-desktop {
    display: block;
  }
}

.app__nav-link {
  color: $primary-text-color;
  text-decoration: none;
}

.app__button--white {
  align-self: flex-start;
  background: $primary-text-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  padding: 1em 3em;
}

.app__button--white:hover {
  cursor: pointer;
}

.app__white-button--small {
  align-self: flex-start;
  background: $primary-text-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-weight: 500;
  line-height: 23px;
  padding: 0.5em 2em;
}

.app__white-button--small:hover {
  cursor: pointer;
}

.app__button--black {
  align-self: flex-start;
  background: $primary-theme-color;
  border: 1px solid $tertiary-color;
  border-radius: 4px;
  color: $primary-text-color;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  padding: 1em 3em;
}

.app__button--white:hover {
  cursor: pointer;
}

.app__black-button--small {
  align-self: flex-start;
  background: $primary-theme-color;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  color: $primary-text-color;
  display: inline-block;
  font-weight: 500;
  line-height: 23px;
  padding: 0.5em 2em;
}

.app__black-button--small:hover {
  cursor: pointer;
}

.app__yellow-button--small {
  align-self: flex-start;
  background: $primary-highlight-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-weight: 500;
  line-height: 23px;
  padding: 0.5em 2em;
}

.app__yellow-buttton--small:hover {
  cursor: pointer;
}

.app__tooltip {
  background: $primary-highlight-color;
  color: $primary-text-color;
}

/* ----------
NAV BAR
---------- */
.nav-bar {
  display: none;
}

@media (min-width: 600px) {
  .nav-bar {
    align-items: center;
    background: #2d2d2d;
    border: 3px solid #2d2d2d;
    display: flex;
    height: 3.5em;
    justify-content: space-around;
  }

  .nav-bar__logo {
    color: $primary-text-color;
    text-decoration: none;
  }

  .nav-bar__link-wrapper--highlight {
    color: $primary-text-color;
    border-bottom: 3px solid $primary-highlight-color;
    display: flex;
    align-items: center;
    height: 3.5em;
  }

  .nav-bar__link-wrapper--highlight:hover {
    cursor: pointer;
  }

  .nav-bar__link-wrapper--lowlight {
    border-bottom: 3px solid #2d2d2d;
    color: #888888;
  }

  .nav-bar__link-wrapper--lowlight:hover {
    cursor: pointer;
  }

  .nav-bar__link--highlight {
    color: $primary-text-color;
    text-decoration: none;
  }

  .nav-bar__link--lowlight {
    color: #888888;
    text-decoration: none;
  }

  .nav-bar__join-button {
    background: $primary-highlight-color;
    border-radius: 4px;
    color: $primary-theme-color;
    line-height: 14px;
    font-weight: bold;
    font-size: 12px;
    padding: 1em 3em;
  }

  .nav-bar__join-button:hover {
    cursor: pointer;
  }
}

/* ----------
TABLE
---------- */
.table {
  width: 100%;
}

.table__header {
  border-bottom: 1px solid $secondary-theme-color;
}

.table__header-text {
  @include label-text;
  padding: 0.5em 2em 1em 0em;
  text-align: left;
}

// used in HistoryMonthTable
.table__month-text {
  @include label-text--highlight;
  text-align: left;
}

.table__header-weight-text {
  @include label-text;
  padding-right: none;
  padding-left: 0;
  text-align: left;
}

.table__body-row:first-of-type td {
  padding-top: 1em;
}

.table__table-data {
  font-size: $extra-small-font-size;
  padding: 0.5em 2em 0.5em 0em;
  vertical-align: middle;
}

.table__weight-data {
  font-size: $extra-small-font-size;
  padding-right: none;
  vertical-align: middle;
}

/* ----------
EMAIL FORM 
---------- */
.email-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.email-form__label {
  font-size: $small-font-size;
  font-weight: $regular-weight;
  margin: 0.5em 0;
}

.email-form__input {
  align-self: flex-start;
  background: black;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #cccccc;
  color: $primary-text-color;
  font-size: $medium-font-size;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
}

.email-form__checkbox-and-message-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 0.5em 0 0.5em 0;
}

.email-form__button-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  text-align: center;
}

.email-form__button--black {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  display: inline-block;
  font-size: $medium-font-size;
  font-weight: 500;
  line-height: $medium-line-height;
  padding: 1em 2em;
}

.email-form__button--black:hover {
  cursor: pointer;
}

.email-form__button--white {
  background: $primary-text-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-size: $medium-font-size;
  font-weight: $light-weight;
  line-height: $medium-line-height;
  padding: 1em 2em;
}

.email-form__button--white:hover {
  cursor: pointer;
}

.email-form__link-to-login-wrapper {
  margin-top: 1em;
}

.email-form__sign-up-text,
.email-form__log-in-text {
  text-decoration: underline;
  margin-top: 1em;
}

/* ----------
BURGER MENU
---------- *?
/* Individual item */
.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 20px;
}

@media (min-width: 600px) {
  .bm-burger-button {
    display: none;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* ----------
ASTRIAGRAPH
---------- */
.astriagraph__wrapper {
  align-items: center;
  background: $primary-theme-color;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
}

@media (min-width: 600px) {
  .astriagraph__wrapper {
    height: 300px;
  }
}
