.login-options__wrapper {
  align-items: center;
  background: $primary-text-color;
  color: $primary-theme-color;
  display: inline-block;
  text-align: center;
}

.login-options__wrapper span {
  background: #c4c4c4;
  border: 1px solid black;
  color: black;
  display: inline-block;
  margin: 1em;
  padding: 0.5em;
}

.login-options__wrapper span:hover {
  cursor: pointer;
}

.login-options__header {
  margin: 1em 0;
}

.email-form {
  background: grey;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  text-align: center;
}

.email-form label {
  margin: 1em;
}

.metamask-button {
  background: rgb(255, 137, 24);
}
