.nav-bar {
  align-items: center;
  background: $secondary-theme-color;
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
}

.nav-bar__logo {
  color: $primary-text-color;
  text-decoration: none;
}

.nav-bar__link--highlight {
  color: $primary-text-color;
  border-bottom: 1px solid $primary-highlight-color;
  padding-bottom: 0.5em;
  text-decoration: none;
}

.nav-bar__link--lowlight {
  color: #888888;
  padding-bottom: 0.5em;
  text-decoration: none;
}
