/* -----
Text
----- */
// the biggest "yellow" headers in the app
@mixin header1-text {
  color: $primary-highlight-color;
  font-style: normal;
  font-weight: 300;
  font-size: $extra-large-font-size;
  line-height: 49px;
  letter-spacing: $header-letter-spacing;
}

@mixin header1-text--desktop {
  color: $primary-highlight-color;
  font-style: normal;
  font-weight: 300;
  font-size: $extra-large-font-size--desktop;
  line-height: 49px;
  letter-spacing: $header-letter-spacing--desktop;
}

// subheader that sits under header1-text
@mixin header2-text {
  font-size: $medium-font-size;
  font-weight: bold;
  letter-spacing: $header-letter-spacing;
  line-height: $medium-line-height;
}

@mixin headline-copy-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 133%;
}

@media (min-width: 600px) {
  @mixin headline-copy-text {
    font-size: $large-font-size;
    font-weight: 300;
    line-height: $large-line-height;
  }
}

@mixin copy-text {
  font-size: $medium-font-size;
  line-height: $large-line-height;
}

@mixin highlight-link-text {
  color: $primary-highlight-color;
  line-height: $medium-line-height;
  text-decoration-line: underline;
}

@mixin lowlight-link-text {
  color: $secondary-theme-color--light;
  line-height: $medium-line-height;
  text-decoration-line: underline;
}

@mixin label-text {
  color: #bbbbbb;
  font-size: $small-font-size;
  font-weight: bold;
  letter-spacing: $header-letter-spacing;
  line-height: $small-line-height;
}
