/* -----
COLORS
----- */
$primary-theme-color: #000000;
$secondary-theme-color: #2d2d2d;
$secondary-theme-color--light: #afafaf;
$primary-text-color: #ffffff;
$primary-highlight-color: #ffbd3c;
$secondary-highlight-color: #2c50a3;

/*
FONT SIZES
*/
$small-font-size: 12px;
$medium-font-size: 16px;
$large-font-size: 24px;
$extra-large-font-size: 48px;
$extra-large-font-size--desktop: 76px;

/*
LINE HEIGHTS
*/
$small-line-height: 14px;
$medium-line-height: 19px;
$large-line-height: 28px;
$extra-large-line-height: 56px;
$extra-large-line-height--desktop: 66px;

/*
LETTER SPACING
*/
$header-letter-spacing: 0.06em;
$header-letter-spacing--desktop: 0.04em;
