/* -----
COLORS
----- */
$primary-theme-color: #081122;
$secondary-theme-color: #A1A7BB;
$primary-text-color: #ffffff;
$tertiary-color: #043053;
$primary-highlight-color: #FC7756;

/*
FONT FAMILIES
*/
$main-font: "Roboto", sans-serif;
$display-font: "Montserrat", sans-serif;


/*
FONT SIZES
*/
$extra-small-font-size: 12px;
$small-font-size: 16px;
$medium-font-size: 20px;
$large-font-size: 24px;
$extra-large-font-size: 36px;
$extra-extra-large-font-size: 76px;

/*
FONT WEIGHT
----- */
$thin-weight: 100;
$light-weight: 300;
$regular-weight: 400;
$bold-weight: bold;
$black-weight: 700;

/*
LINE HEIGHTS
*/
$small-line-height: 15px;
$medium-line-height: 25px;
$large-line-height: 30px;
$extra-large-line-height: 56px;
$extra-large-line-height--desktop: 66px;

/*
LETTER SPACING
*/
$standard-spacing: 0;
$tight-spacing: -2%;
$wide-spacing: 4%;
