/* ----------
CATALOG
---------- */
.catalog__wrapper {
  margin: 2em 1em;
  max-width: 1000px;
}

.catalog__header {
  @include view-title;
}

@media (min-width: 600px) {
  .catalog__wrapper {
    margin: 0em 4em 4em 4em;
  }
  .catalog__header {
    @include view-title--desktop;
    margin: 0.5em 0;
  }
}

.catalog__nav-bar-how-to-wrapper {
}

@media (min-width: 600px) {
  .catalog__nav-bar-how-to-wrapper {
    display: flex;
    margin-bottom: 3em;
  }
}

/* ----------
CATALOG NAV DROPDOWN
---------- */
.catalog-nav-dropdown__wrapper {
  margin: 1em 0;
}

@media (min-width: 600px) {
  .catalog-nav-dropdown__wrapper {
    display: none;
  }
}

/* ----------
CATALOF FILTER DESCRIPTION
---------- */
.catalog__filter-description {
  @include body-text--large;
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .catalog__filter-description {
    @include body-text--large-desktop;
    margin-right: 3em;
  }
}

/* ----------
HOW TO PARTICIPATE
---------- */
.catalog__how-to-wrapper {
  margin: 3em 0;
}

@media (min-width: 600px) {
  .catalog__how-to-wrapper {
    margin: 0;
    min-width: 250px;
  }

  .catalog__button {
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 1em;
    padding: 0.5em;
  }
}

.catalog__how-to-text {
  border-bottom: 1px solid $secondary-theme-color;
  @include section-title;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

.catalog__button {
  border: 1px solid #5f5f5f;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 40%;
  text-align: center;
}

.catalog__link {
  color: $primary-text-color;
}

.catalog__get-data-button {
  margin-right: 1em;
}

.catalog__get-data-button:hover {
  cursor: pointer;
}

.catalog__link-text-wrapper {
  margin-top: 2em;
}

.catalog__link-text {
  color: $secondary-theme-color;
  text-decoration-line: underline;
  margin-bottom: 0.5em;
}

/* ----------
CATALOG NAV BAR
---------- */
.catalog-nav-bar__wrapper {
  display: none;
}

@media (min-width: 600px) {
  .catalog-nav-bar__wrapper {
    border-bottom: 1px solid $secondary-theme-color;
    display: flex;
    flex: 1;
    justify-content: column;
    margin: 0em 5em 1em 0;
  }
}

.catalog-nav-bar__link--highlight {
  border-bottom: 4px solid $primary-highlight-color;
  color: $primary-text-color;
  margin-right: 2em;
  padding-bottom: 0.5em;
  text-decoration: none;
}

.catalog-nav-bar__link--highlight:hover {
  cursor: pointer;
}

.catalog-nav-bar__link--lowlight {
  border-bottom: 4px solid $primary-theme-color;
  color: $secondary-theme-color;
  margin-right: 2em;
  padding-bottom: 0.5em;
  text-decoration: none;
}

.catalog-nav-bar__link--lowlight:hover {
  cursor: pointer;
}

/* ----------
CATALOG TABLE
---------- */
.catalog-table__object-data-wrapper {
  align-items: center;
  display: flex;
}

.catalog-table__body-row {
  border-bottom: 1px solid $tertiary-color;
}

.catalog-table__table-data {
  padding: 0em 2em 0em 0em;
}
