/* ----------
SIGN UP
---------- */
.sign-up__wrapper {
  margin: 4em;
}

.sign-up__header {
  @include view-title--desktop;
}

/* ----------
SIGN UP OPTIONS
---------- */
.sign-up-options__wrapper {
  display: flex;
  margin-top: 3em;
}

.sign-up-options__metamask-button-wrapper {
  margin-left: 10em;
}

.sign-up-options__metamask-button-wrapper-text {
  margin-bottom: 1em;
}

/* ----------
SIGNUP SUCCESS
---------- */
.sign-up-success__message-text {
  @include body-text--medium;
  margin-bottom: 1em;
}

/* ----------
LOG IN
---------- */
.log-in__wrapper {
  margin: 4em;
}

.log-in__header {
  @include view-title--desktop;
}

.login__success-wrapper {
  margin-top: 3em;
}

/* ----------
LOG IN OPTIONS
---------- */
.log-in-options__wrapper {
  display: flex;
  margin-top: 3em;
}

.log-in-options__metamask-button-wrapper {
  margin-left: 10em;
}

.log-in-options__metamask-button-wrapper-text {
  margin-bottom: 1em;
}

/* ----------
CLAIM ACCOUNT
---------- */
.claim-account__wrapper {
  margin: 2em 4em;
}

.claim-account__header {
  @include view-title--desktop;
}

.claim-account__message {
  @include body-text--large-desktop;
  margin-top: 1em;
}

/* ----------
VERIFY CLAIM ACCOUNT
----------- */
.verify-claim-account__wrapper {
  margin: 2em 4em;
}

.verify-claim-account__header {
  @include view-title--desktop;
}
