/* ----------
SUBMIT
----------- */
.submit__wrapper {
  margin: 2em 1em;
  max-width: 1000px;
}

.submit__header {
  @include view-title;
  font-size: $extra-large-font-size;
}

@media (min-width: 600px) {
  .submit__wrapper {
    margin: 2em auto;
  }
  .submit__header {
    @include view-title--desktop;
  }
}

.submit__sub-header {
  font-size: 24px;
  line-height: 28px;
  margin: 1em 0em 0.5em 0em;
}

.submit__info-text {
  font-size: 18px;
  line-height: 21px;
  margin: 2em 0 0.5em 0;
}

.submit__text {
  color: $secondary-theme-color;
  font-size: $medium-font-size;
  margin-bottom: 0.5em;
}

.submit__link-text {
  color: $secondary-theme-color;
  font-size: $medium-font-size;
  text-decoration-line: underline;
}

/* ----------
MULTIPLE OBSERVATION FORM
---------- */
.multiple-observation-form {
  margin-bottom: 1em;
}

.multiple-observation-form__textarea {
  background: $tertiary-color;
  border: 1px solid $secondary-theme-color;
  border-radius: 4px;
  box-sizing: border-box;
  color: $primary-text-color;
  line-height: 1.2;
  padding: 1em;
  resize: none;
}

.multiple-observation-form__textarea::placeholder {
  line-height: 1.2;
}
.multiple-observation-form__textarea::-ms-input-placeholder {
  line-height: 1.2;
}
.multiple-observation-form__textarea::-moz-placeholder {
  line-height: 1.2;
}
// chrome
.multiple-observation-form__textarea::-webkit-input-placeholder {
  line-height: 1.2em;
}

.multiple-observation-form__success-message {
  align-items: center;
  color: $primary-highlight-color;
  display: flex;
  margin-top: 1em;
}

.multiple-observation-form__image {
  margin-right: 0.25em;
}

.multiple-observation-form__button-wrapper {
  margin-top: 2em;
}

.multiple-observation-form__cancel-button {
  margin-right: 1em;
}

/* ----------
SINGLE OBSERVATION FORM 
---------- */
.single-observation-form {
  margin-top: 1em;
}

.single-observation-form__date-time-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.single-observation-form__date-input {
  width: 45%;
}

.single-observation-form__time-input {
  width: 45%;
}

.single-observation-form__object-wrapper {
  margin-bottom: 3em;
}

.single-observation-form__object-input {
  width: 100%;
}

.single-observation-form__ascension-declination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.single-observation-form__behavior-brightness-wrapper {
  display: flex;
  justify-content: space-between;
}

.single-observation-form__behavior-select-wrapper {
  width: 65%;
}

.single-observation-form__behavior-select {
  width: 100%;
}

.single-observation-form__brightness-input-wrapper {
  width: 25%;
}

.single-observation-form__brightness-input {
  width: 100%;
}

.single-observation-form__conditions-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.single-observation-form__conditions-wrapper span {
  background: white;
  border-radius: 5px;
  color: black;
  padding: 1em;
}

.single-observation-form__button-wrapper {
  margin-top: 2em;
}

.single-observation-form__cancel-button {
  margin-right: 1em;
}
