/* ---------
BLOCKIE
---------- */
.blockie {
  border-radius: 50%;
}

/* ---------- 
PROFILE
---------- */
.profile__wrapper {
  margin: 2em 1em;
}

@media (min-width: 600px) {
  .profile__wrapper {
    margin: 3em 4em;
  }
}

.profile__header-wrapper {
  display: flex;
  flex-direction: column;
}

.profile__blockie-name-wrapper {
  align-items: center;
  display: flex;
}

.profile__header-username {
  color: $primary-highlight-color;
  font-size: 36px;
  margin-left: 0.5em;
}

@media (min-width: 600px) {
  .profile__header-username {
    @include view-title--desktop;
  }
}

.profile__button-data-wrapper {
  margin-top: 1em;
}

@media (min-width: 600px) {
  .profile__button-data-wrapper {
    display: flex;
  }
}

.profile__header-data-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .profile__header-data-wrapper {
    flex-wrap: nowrap;
  }
}

.profile__header-info-data-label {
  @include label-text;
  display: flex;
  margin: 1em 1.5em 0em 0em;
}

@media (min-width: 600px) {
  .profile__header-info-data-label {
    @include label-text;
    align-items: center;
    display: flex;
    margin: none;
  }
}

.profile__header-info-data-value {
  color: $primary-text-color;
  font-size: $extra-small-font-size;
}

@media (min-width: 600px) {
  .profile__header-info-data-value {
    color: $primary-text-color;
    font-size: $extra-small-font-size;
    margin-left: 3em;
  }
}

.profile__bio-text {
  @include body-text--large-desktop;
  margin-top: 1em;
}

.profile__objects-tracked-wrapper {
  margin-top: 3em;
}

.profile__sub-heading {
  @include section-title;
  border-bottom: 1px solid $primary-text-color;
  padding-bottom: 0.5em;
  margin-bottom: 0.25em;
}

.profile__your-observations-wrapper {
  margin-top: 3em;
}

.profile__none-yet-text {
  @include body-text--large-desktop;
  color: $secondary-theme-color;
  margin: 0.5em 0;
}

/* ----------
PROFILE TABLE 
---------- */
.profile-table__body-row {
  border-bottom: 1px solid $tertiary-color;
}

.profile-table__data-wrapper {
  align-items: center;
  display: flex;
}

.profile-table__purpose-text {
  display: flex;
}

/* ----------
PROFILE SETTINGS
---------- */
.profile-settings__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-settings__heading {
  @include section-title;
  border: 1px solid $secondary-theme-color;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0.5em 0;
}

.profile-settings__edit-button-text {
  color: $secondary-theme-color;
  font-style: normal;
  font-weight: normal;
  font-size: $small-font-size;
  line-height: $medium-line-height;
  text-decoration: underline;
}

.profile-settings__edit-button-text:hover {
  cursor: pointer;
}

.profile-settings__profile-wrapper {
  margin-top: 1em;
  width: 48%;
}

.profile-settings__observation-wrapper {
  margin-top: 1em;
  width: 48%;
}

.profile-settings__setting-wrapper {
  display: flex;
  margin: 0.5em 0;
}

.profile-settings__setting-label {
  color: $secondary-theme-color;
  font-size: $extra-small-font-size;
  line-height: $medium-line-height;
  margin-right: 1em;
}

.edit-profile-settings-input {
}

/* ----------
ACCOUNT SETTINGS
---------- */
.account-settings__wrapper {
  margin: 3em 4em;
}

.account-settings__header {
  @include view-title--desktop;
}

.account-settings__button-wrapper {
  margin-top: 2em;
  display: flex;
}

.account-settings__cancel-button {
  margin-right: 1em;
}

/* ----------
PRIVACY SETTINGS
---------- */
.privacy-settings__wrapper {
  margin-top: 3em;
}

.privacy-settings__heading {
  @include section-title;
  border: 1px solid $secondary-theme-color;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0.5em 0;
}

.privacy-settings__edit-button-text {
  color: #a5a5a5;
  font-style: normal;
  font-weight: normal;
  font-size: $small-font-size;
  line-height: $medium-line-height;
  text-decoration: underline;
}

.privacy-settings__edit-button-text:hover {
  cursor: pointer;
}

.privacy-settings__setting-wrapper {
  margin: 1em 0;
}

.privacy-settings__setting-checkbox {
}

.privacy-settings__setting-label {
  font-size: $medium-font-size;
  line-height: $medium-line-height;
}

.privacy-settings__remove-text {
  color: #a5a5a5;
  line-height: 19px;
  text-decoration-line: underline;
}

/* ----------
SECURITY SETTINGS
---------- */
.security-settings__wrapper {
  margin-top: 3em;
}

.security-settings__heading {
  @include section-title;
  border: 1px solid $secondary-theme-color;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0.5em 0;
}

.security-settings__info-text {
  @include body-text--large-desktop;
  margin-bottom: 1em;
}

/* ----------
METAMASK IMPORT
---------- */
.metamask-import__wrapper {
  margin: 3em 4em;
}

.metamask-import__link-to-account-text {
  color: #a5a5a5;
  font-size: $extra-small-font-size;
}

.metamask-import__main-header {
  @include view-title--desktop;
}

.metamask-import__sub-header {
  font-size: $extra-large-font-size;
  margin: 0.5em 0em 1em 0em;
}

.metamask-import__step-header-wrapper {
  display: flex;
}

.metamask-import__step-header--todo {
  font-weight: bold;
  font-size: $extra-large-font-size;
}

.metamask-import__step-header--done {
  color: $secondary-theme-color;
  font-weight: bold;
  font-size: $extra-large-font-size;
}

.metamask-import__circle-check {
  margin-left: -1.3em;
}

.metamask-import__copy-wrapper {
  margin-top: 1em;
  width: 75%;
}

.metamask-import__copy {
  font-size: $large-font-size;
  margin: 0.5em 0;
}

.metamask-import__link-text--white {
  color: $primary-text-color;
  text-decoration: none;
}

.metamask-import__button-wrapper {
  margin: 2em 0;
}

.metamask-import__link-text--black {
  color: $primary-theme-color;
  text-decoration: none;
}

.metamask-import__back-button {
  margin-right: 1em;
}

.metamask-import__private-key-wrapper {
  border: 1px solid $primary-text-color;
  border-radius: 4px;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 1em;
}

.metamas-import__private-key-text {
  font-weight: 500;
  font-size: $medium-font-size;
}

/* ----------
SECRET FORM - in MetamaskImport component
---------- */
.secret-form__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  width: 300px;
}

.secret-form__label {
  color: $secondary-theme-color;
  font-size: $extra-small-font-size;
  margin-bottom: 0.5em;
}

.secret-form__input {
  border: 1px solid $primary-text-color;
  border-radius: 4px;
  box-sizing: border-box;
  align-self: flex-start;
  background: black;
  box-sizing: border-box;
  color: $primary-text-color;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
}
