/* ----------
OBJECT VIEW
---------- */
.object__wrapper {
  margin: 2em 1em;
}

@media (min-width: 600px) {
  .object__wrapper {
    margin: 3em 4em;
    max-width: 1000px;
  }
}

/* ----------
OBJECT INFO 
---------- */
@media (max-width: 600px) {
  .object-info__header-section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
  }
}

@media (min-width: 600px) {
  .object-info__header-section-wrapper {
    display: flex;
    margin-bottom: 1em;
  }
}

@media (max-width: 600px) {
  .object-info__badge-wrapper {
    border: 1px solid red;
    margin: 0 auto;
    width: 50%;
  }
}

@media (min-width: 600px) {
  .object-info__badge-wrapper {
    margin-right: 1em;
  }
}

@media (max-width: 600px) {
  .object-info__header {
    color: $primary-highlight-color;
    font-size: $extra-large-font-size;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 42px;
  }
}

@media (min-width: 600px) {
  .object-info__header {
    @include view-title--desktop;
  }
}

@media (min-width: 600px) {
  .object-info__header-info-wrapper {
    // display: flex;
    display: inline;
    font-size: $extra-small-font-size;
  }
}

.object-info__header-info-wrapper__group {
  display: inline-block;
  margin-bottom: 0.25em;
  margin-right: 1em;
}

@media (min-width: 600px) {
  .object-info__header-info-wrapper__group {
    margin-right: 2em;
  }
}

.object-info__header-info-wrapper__group--no-margin {
  margin-right: 0.25em;
}

.object-info__small-text,
.object-info__small-text--grey {
  display: inline-block;
  font-size: $extra-small-font-size;
  text-transform: uppercase;
}

.object-info__small-text--grey {
  color: $secondary-theme-color;
}

.object-info__large-text {
  @include body-text--large-desktop;
}

@media (max-width: 600px) {
  .object-info__norad-number-wrapper {
    display: flex;
    margin-bottom: 2em;
  }
}

@media (min-width: 600px) {
  .object-info__background-section-wrapper {
    display: flex;
    margin: 4em 0 8em;
  }
}

@media (max-width: 600px) {
  .object-info__background-wrapper {
    margin-bottom: 5em;
  }
}

@media (min-width: 600px) {
  .object-info__background-wrapper {
    flex: 1;
    margin-right: 5em;
  }
}

@media (max-width: 600px) {
  .object-info__how-to-wrapper {
    margin-bottom: 5em;
  }
}

.object-info__section-title {
  @include section-title;
  border-bottom: 1px solid $secondary-theme-color;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

.object-info__origin-launched-wrapper {
  display: flex;
}

.object-info__origin-wrapper {
  margin-right: 5em;
}

.object-info__purpose-wrapper {
  margin-top: 1em;
}

.object-info__info-label {
  @include label-text;
  margin-bottom: 0.5em;
}

.object-info__link-text {
  color: $secondary-theme-color;
  text-decoration-line: underline;
  margin-bottom: 0.5em;
}

/* ----------
OBJECT OBSERVATIONS NAV
---------- */
.object-observations__header {
  font-weight: bold;
  letter-spacing: 0.04em;
  line-height: 19px;
  margin-bottom: 0.5em;
}

@media (max-width: 600px) {
  .object-observations__filter-table-wrapper {
    width: 100%;
  }
}

.object-observations__filter-table-wrapper {
  display: inline-block;
  margin-bottom: 3em;
}

.object-observations__nav {
  display: flex;
  justify-content: column;
}

.object-observations__nav-links-wrapper {
  border-bottom: 1px solid $secondary-theme-color;
  display: flex;
  margin-bottom: 1em;
  width: 100%;
}

.object-observations__nav-link-wrapper--lowlight {
  border-bottom: 3px solid $primary-theme-color;
  padding-bottom: 0.5em;
  margin-right: 2em;
}

.object-observations__nav-link-wrapper--highlight {
  border-bottom: 3px solid $primary-highlight-color;
  padding-bottom: 0.5em;
  margin-right: 2em;
}

.object-observations__nav-link--lowlight {
  @include section-title;
  color: $secondary-theme-color;
  font-weight: $regular-weight;
}

.object-observations__nav-link--lowlight:hover {
  color: $primary-text-color;
}

.object-observations__nav-link--highlight {
  @include section-title;
}

.object-observations__nav-link--lowlight:hover,
.object-observations__nav-link--hightlight:hover {
  cursor: pointer;
}

.object-observations__get-data-link-wrapper {
  border-bottom: 3px solid $primary-theme-color;
  padding-bottom: 0.5em;
}

.object-observation__filter-explainer {
  @include body-text--large-desktop;
  margin-bottom: 2em;
}

/* ----------
INFLUENCE TABLE 
---------- */
@media (max-width: 600px) {
  .object-inluence-table__table-header-text {
    padding-right: 1em;
  }
}

/* ----------
HISTORY YEAR DROPDOWN 
----------- */
.history-year-dropdown {
  border-bottom: 1px solid $primary-text-color;
}

.history-year-dropdown__row {
  border-top: 1px solid $primary-text-color;
  padding: 0.5em 0;
}

.history-year-dropdown__row:hover {
  cursor: pointer;
}

.history-year-dropdown__year-text {
  @include label-text;
}

.history-year-dropdown__year-text--highlight {
  @include label-text--highlight;
  margin-bottom: 1em;
}

/* ----------
HISTORY MONTH TABLE
---------- */
.history-month-table {
  margin-top: 1em;
}
