@import "./base/reset";
@import "./base/typography";

@import "./helpers/variables";
@import "./base/base";
@import "./helpers/mixins";

@import "./layout/nav-bar";
@import "./components/signup-modal";
@import "./layout/login-options";

/* ----------
APP
---------- */
.app__nav-link {
  color: $primary-text-color;
  text-decoration: none;
}

.app__button--white {
  align-self: flex-start;
  background: $primary-text-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  padding: 1em 3em;
}

.app__button--white:hover {
  cursor: pointer;
}

.app__white-button--small {
  align-self: flex-start;
  background: $primary-text-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-weight: 500;
  line-height: 23px;
  padding: 0.5em 2em;
}

.app__white-button--small:hover {
  cursor: pointer;
}

.app__button--black {
  align-self: flex-start;
  background: $primary-theme-color;
  border: 1px solid $tertiary-color;
  border-radius: 4px;
  color: $primary-text-color;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  padding: 1em 3em;
}

.app__button--white:hover {
  cursor: pointer;
}

.app__black-button--small {
  align-self: flex-start;
  background: $primary-theme-color;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  color: $primary-text-color;
  display: inline-block;
  font-weight: 500;
  line-height: 23px;
  padding: 0.5em 2em;
}

.app__black-button--small:hover {
  cursor: pointer;
}

.app__yellow-button--small {
  align-self: flex-start;
  background: $primary-highlight-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-weight: 500;
  line-height: 23px;
  padding: 0.5em 2em;
}

.app__yellow-buttton--small:hover {
  cursor: pointer;
}

.app__tooltip {
  background: $primary-highlight-color;
  color: $primary-text-color;
}

/* ----------
TABLE
---------- */
.table {
  width: 100%;
}

.table__header {
  border-bottom: 1px solid $secondary-theme-color;
}

.table__header-text {
  @include label-text;
  padding: 0.5em 2em 1em 0em;
  text-align: left;
}

// used in HistoryMonthTable
.table__month-text {
  @include label-text--highlight;
  text-align: left;
}

.table__header-weight-text {
  @include label-text;
  padding-right: none;
  padding-left: 0;
  text-align: left;
}

.table__body-row:first-of-type td {
  padding-top: 1em;
}

.table__table-data {
  font-size: $extra-small-font-size;
  padding: 0.5em 2em 0.5em 0em;
  vertical-align: middle;
}

.table__weight-data {
  font-size: $extra-small-font-size;
  padding-right: none;
  vertical-align: middle;
}

/* ----------
ASTRIAGRAPH
---------- */
.astriagraph__wrapper {
  align-items: center;
  background: $primary-theme-color;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
}

@media (min-width: 600px) {
  .astriagraph__wrapper {
    height: 300px;
  }
}

/* ----------
CATALOG
---------- */
.catalog__wrapper {
  margin: 0em 1em;
}

.catalog__header {
  @include view-title;
  margin: 0.5em 0;
}

@media (min-width: 600px) {
  .catalog__wrapper {
    margin: 0em 4em;
  }
  .catalog__header {
    @include view-title--desktop;
    margin: 0.5em 0;
  }
}

.catalog__nav-bar-how-to-wrapper {
  display: flex;
  margin-bottom: 3em;
}

/* ----------
CATALOF FILTER DESCRIPTION
---------- */
.catalog__filter-description {
  @include body-text--large-desktop;
  margin-right: 3em;
}

/* ----------
HOW TO PARTICIPATE
---------- */
.catalog__how-to-wrapper {
  min-width: 250px;
}

.catalog__how-to-text {
  border-bottom: 1px solid $secondary-theme-color;
  @include section-title;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

.catalog__button {
  border: 1px solid #5f5f5f;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.5em;
}

.catalog__link {
  color: $primary-text-color;
}

.catalog__get-data-button {
  margin-right: 1em;
}

.catalog__link-text-wrapper {
  margin-top: 2em;
}

.catalog__link-text {
  color: $secondary-theme-color;
  text-decoration-line: underline;
  margin-bottom: 0.5em;
}

/* ----------
CATALOG NAV DROPDOWN
---------- */
.catalog-nav-dropdown__wrapper {
  border: 1px solid red;
}

@media (min-width: 600px) {
  .catalog-nav-dropdown__wrapper {
    display: none;
  }
}

/* ----------
CATALOG NAV BAR
---------- */
.catalog-nav-bar__wrapper {
  display: none;
}

@media (min-width: 600px) {
  .catalog-nav-bar__wrapper {
    border-bottom: 1px solid $secondary-theme-color;
    display: flex;
    flex: 1;
    justify-content: column;
    margin: 0em 5em 1em 0;
  }
}

.catalog-nav-bar__link--highlight {
  border-bottom: 4px solid $primary-highlight-color;
  color: $primary-text-color;
  margin-right: 2em;
  padding-bottom: 0.5em;
  text-decoration: none;
}

.catalog-nav-bar__link--highlight:hover {
  cursor: pointer;
}

.catalog-nav-bar__link--lowlight {
  border-bottom: 4px solid $primary-theme-color;
  color: $secondary-theme-color;
  margin-right: 2em;
  padding-bottom: 0.5em;
  text-decoration: none;
}

.catalog-nav-bar__link--lowlight:hover {
  cursor: pointer;
}

/* ----------
CATALOG TABLE
---------- */
.catalog-table__object-data-wrapper {
  align-items: center;
  display: flex;
}

.catalog-table__body-row {
  border-bottom: 1px solid $tertiary-color;
}

.catalog-table__table-data {
  padding: 0em 2em 0em 0em;
}

/* ---------
BLOCKIE
---------- */
.blockie {
  border-radius: 50%;
}

/* ---------- 
PROFILE
---------- */
.profile__wrapper {
  margin: 3em 4em;
}

.profile__header-wrapper {
  display: flex;
  flex-direction: column;
}

.profile__blockie-name-wrapper {
  align-items: center;
  display: flex;
}

.profile__header-username {
  @include view-title--desktop;
  margin-left: 0.5em;
}

.profile__button-data-wrapper {
  display: flex;
  margin-top: 1em;
}

.profile__header-info-data-label {
  @include label-text;
  align-items: center;
  display: flex;
}

.profile__header-info-data-value {
  color: $primary-text-color;
  font-size: $extra-small-font-size;
  margin-left: 3em;
}

.profile__bio-text {
  @include body-text--large-desktop;
  margin-top: 1em;
}

.profile__objects-tracked-wrapper {
  margin-top: 3em;
}

.profile__sub-heading {
  @include section-title;
  border-bottom: 1px solid $primary-text-color;
  padding-bottom: 0.5em;
  margin-bottom: 0.25em;
}

.profile__your-observations-wrapper {
  margin-top: 3em;
}

.profile__none-yet-text {
  @include body-text--large-desktop;
  color: $secondary-theme-color;
  margin: 0.5em 0;
}

/* ----------
PROFILE TABLE 
---------- */
.profile-table__body-row {
  border-bottom: 1px solid $tertiary-color;
}

.profile-table__data-wrapper {
  align-items: center;
  display: flex;
}

.profile-table__purpose-text {
  display: flex;
}

/* ----------
BURGER MENU
---------- *?
/* Individual item */
.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 20px;
}

@media (min-width: 600px) {
  .bm-burger-button {
    display: none;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* ----------
SIGN UP
---------- */
.sign-up__wrapper {
  margin: 4em;
}

.sign-up__header {
  @include view-title--desktop;
}

/* ----------
SIGN UP OPTIONS
---------- */
.sign-up-options__wrapper {
  display: flex;
  margin-top: 3em;
}

.sign-up-options__metamask-button-wrapper {
  margin-left: 10em;
}

.sign-up-options__metamask-button-wrapper-text {
  margin-bottom: 1em;
}

/* ----------
EMAIL FORM 
---------- */
.email-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.email-form__label {
  font-size: $small-font-size;
  font-weight: $regular-weight;
  margin: 0.5em 0;
}

.email-form__input {
  align-self: flex-start;
  background: black;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #cccccc;
  color: $primary-text-color;
  font-size: $medium-font-size;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
}

.email-form__checkbox-and-message-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 0.5em 0 0.5em 0;
}

.email-form__button-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  text-align: center;
}

.email-form__button--black {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  display: inline-block;
  font-size: $medium-font-size;
  font-weight: 500;
  line-height: $medium-line-height;
  padding: 1em 2em;
}

.email-form__button--black:hover {
  cursor: pointer;
}

.email-form__button--white {
  background: $primary-text-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-size: $medium-font-size;
  font-weight: $light-weight;
  line-height: $medium-line-height;
  padding: 1em 2em;
}

.email-form__button--white:hover {
  cursor: pointer;
}

.email-form__link-to-login-wrapper {
  margin-top: 1em;
}

.email-form__sign-up-text,
.email-form__log-in-text {
  text-decoration: underline;
  margin-top: 1em;
}

/* ----------
SIGNUP SUCCESS
---------- */
.sign-up-success__message-text {
  @include body-text--medium;
  margin-bottom: 1em;
}

/* ----------
LOG IN
---------- */
.log-in__wrapper {
  margin: 4em;
}

.log-in__header {
  @include view-title--desktop;
}

.login__success-wrapper {
  margin-top: 3em;
}

/* ----------
LOG IN OPTIONS
---------- */
.log-in-options__wrapper {
  display: flex;
  margin-top: 3em;
}

.log-in-options__metamask-button-wrapper {
  margin-left: 10em;
}

.log-in-options__metamask-button-wrapper-text {
  margin-bottom: 1em;
}

/* ----------
ACCOUNT SETTINGS
---------- */
.account-settings__wrapper {
  margin: 3em 4em;
}

.account-settings__header {
  @include view-title--desktop;
}

.account-settings__button-wrapper {
  margin-top: 2em;
  display: flex;
}

.account-settings__cancel-button {
  margin-right: 1em;
}

/* ----------
PROFILE SETTINGS
---------- */
.profile-settings__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-settings__heading {
  @include section-title;
  border: 1px solid $secondary-theme-color;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0.5em 0;
}

.profile-settings__edit-button-text {
  color: $secondary-theme-color;
  font-style: normal;
  font-weight: normal;
  font-size: $small-font-size;
  line-height: $medium-line-height;
  text-decoration: underline;
}

.profile-settings__edit-button-text:hover {
  cursor: pointer;
}

.profile-settings__profile-wrapper {
  margin-top: 1em;
  width: 48%;
}

.profile-settings__observation-wrapper {
  margin-top: 1em;
  width: 48%;
}

.profile-settings__setting-wrapper {
  display: flex;
  margin: 0.5em 0;
}

.profile-settings__setting-label {
  color: $secondary-theme-color;
  font-size: $extra-small-font-size;
  line-height: $medium-line-height;
  margin-right: 1em;
}

.edit-profile-settings-input {
}

/* ----------
PRIVACY SETTINGS
---------- */
.privacy-settings__wrapper {
  margin-top: 3em;
}

.privacy-settings__heading {
  @include section-title;
  border: 1px solid $secondary-theme-color;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0.5em 0;
}

.privacy-settings__edit-button-text {
  color: #a5a5a5;
  font-style: normal;
  font-weight: normal;
  font-size: $small-font-size;
  line-height: $medium-line-height;
  text-decoration: underline;
}

.privacy-settings__edit-button-text:hover {
  cursor: pointer;
}

.privacy-settings__setting-wrapper {
  margin: 1em 0;
}

.privacy-settings__setting-checkbox {
}

.privacy-settings__setting-label {
  font-size: $medium-font-size;
  line-height: $medium-line-height;
}

.privacy-settings__remove-text {
  color: #a5a5a5;
  line-height: 19px;
  text-decoration-line: underline;
}

/* ----------
SECURITY SETTINGS
---------- */
.security-settings__wrapper {
  margin-top: 3em;
}

.security-settings__heading {
  @include section-title;
  border: 1px solid $secondary-theme-color;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0.5em 0;
}

.security-settings__info-text {
  @include body-text--large-desktop;
  margin-bottom: 1em;
}

/* ----------
METAMASK IMPORT
---------- */
.metamask-import__wrapper {
  margin: 3em 4em;
}

.metamask-import__link-to-account-text {
  color: #a5a5a5;
  font-size: $extra-small-font-size;
}

.metamask-import__main-header {
  @include view-title--desktop;
}

.metamask-import__sub-header {
  font-size: $extra-large-font-size;
  margin: 0.5em 0em 1em 0em;
}

.metamask-import__step-header-wrapper {
  display: flex;
}

.metamask-import__step-header--todo {
  font-weight: bold;
  font-size: $extra-large-font-size;
}

.metamask-import__step-header--done {
  color: $secondary-theme-color;
  font-weight: bold;
  font-size: $extra-large-font-size;
}

.metamask-import__circle-check {
  margin-left: -1.3em;
}

.metamask-import__copy-wrapper {
  margin-top: 1em;
  width: 75%;
}

.metamask-import__copy {
  font-size: $large-font-size;
  margin: 0.5em 0;
}

.metamask-import__link-text--white {
  color: $primary-text-color;
  text-decoration: none;
}

.metamask-import__button-wrapper {
  margin: 2em 0;
}

.metamask-import__link-text--black {
  color: $primary-theme-color;
  text-decoration: none;
}

.metamask-import__back-button {
  margin-right: 1em;
}

.metamask-import__private-key-wrapper {
  border: 1px solid $primary-text-color;
  border-radius: 4px;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 1em;
}

.metamas-import__private-key-text {
  font-weight: 500;
  font-size: $medium-font-size;
}

/* ----------
SECRET FORM
---------- */
.secret-form__wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.secret-form__label {
  color: $secondary-theme-color;
  font-size: $extra-small-font-size;
  margin-bottom: 0.5em;
}

.secret-form__input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  align-self: flex-start;
  background: black;
  box-sizing: border-box;
  color: $primary-text-color;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
}

/* ----------
OBJECT VIEW
---------- */
.object__wrapper {
  margin: 3em 4em;
}

/* ----------
OBJECT INFO 
---------- */
.object-info__header-section-wrapper {
  display: flex;
  margin-bottom: 1em;
}

.object-info__badge {
  margin-right: 1em;
}

.object-info__header {
  @include view-title--desktop;
}

.object-info__header-info-wrapper {
  display: flex;
}

.object-info__header-info-wrapper--with-margin {
  display: flex;
  margin-right: 1em;
}

.object-info__small-text {
  font-size: $extra-small-font-size;
}

.object-info__small-text--grey {
  color: $secondary-theme-color;
  font-size: $extra-small-font-size;
}

.object-info__background-wrapper {
  flex: 1;
  margin-right: 5em;
}

.object-info__background-section-wrapper {
  display: flex;
  margin: 2em 0;
}

.object-info__how-to-wrapper {
}

.object-info__section-title {
  @include section-title;
  border-bottom: 1px solid $primary-text-color;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.object-info__origin-launched-wrapper {
  display: flex;
}

.object-info__origin-wrapper {
  margin-right: 5em;
}

.object-info__launched-wrapper {
}

.object-info__purpose-wrapper {
  margin-top: 1em;
}

.object-info__info-label {
  @include label-text;
  margin-bottom: 0.5em;
}

.object-info__link-text {
  color: $secondary-theme-color;
  text-decoration-line: underline;
  margin-bottom: 0.5em;
}

/* ----------
OBJECT OBSERVATIONS NAV
---------- */
.object-observations__header {
  font-weight: bold;
  letter-spacing: 0.04em;
  line-height: 19px;
  margin-bottom: 0.5em;
}

.object-observations__filter-table-wrapper {
  display: inline-block;
  margin-bottom: 3em;
}

.object-observations__nav {
  display: flex;
  justify-content: column;
}

.object-observations__nav-links-wrapper {
  border-bottom: 1px solid $secondary-theme-color;
  display: flex;
  margin-bottom: 1em;
  width: 100%;
}

.object-observations__nav-link-wrapper--lowlight {
  border-bottom: 3px solid $primary-theme-color;
  padding-bottom: 0.5em;
  margin-right: 2em;
}

.object-observations__nav-link-wrapper--highlight {
  border-bottom: 3px solid $primary-highlight-color;
  padding-bottom: 0.5em;
  margin-right: 2em;
}

.object-observations__nav-link--lowlight {
  color: $secondary-theme-color;
  font-size: $small-font-size;
}

.object-observations__nav-link--highlight {
  color: $primary-text-color;
  font-size: $small-font-size;
  font-weight: $bold-weight;
}

.object-observations__nav-link--lowlight:hover,
.object-observations__nav-link--hightlight:hover {
  cursor: pointer;
}

.object-observations__get-data-link-wrapper {
  border-bottom: 3px solid $primary-theme-color;
  padding-bottom: 0.5em;
}

.object-observation__filter-explainer {
  @include body-text--large-desktop;
  margin-bottom: 2em;
}

/* ----------
HISTORY YEAR DROPDOWN 
----------- */
.history-year-dropdown {
  border-bottom: 1px solid $primary-text-color;
}

.history-year-dropdown__row {
  border-top: 1px solid $primary-text-color;
  padding: 0.5em 0;
}

.history-year-dropdown__row:hover {
  cursor: pointer;
}

.history-year-dropdown__year-text {
  @include label-text;
}

.history-year-dropdown__year-text--highlight {
  @include label-text--highlight;
  margin-bottom: 1em;
}

/* ----------
HISTROY MONTH DROPDOWN
---------- */
.history-month-dropdown {
  border-bottom: 1px solid #363636;
  display: flex;
  flex-direction: column;
}

.history-month-dropdown__row {
  border-top: 1px solid #363636;
  padding: 0.5em 0;
}

.history-month-dropdown__row:hover {
  cursor: pointer;
}

.history-month-dropdown__month-text {
  color: $secondary-theme-color;
  font-size: $extra-small-font-size;
  font-weight: bold;
  letter-spacing: 0.04em;
  line-height: 12px;
}

/* ----------
SUBMIT
----------- */
.submit__wrapper {
  margin: 2em 4em;
}

.submit__header {
  @include view-title--desktop;
}

.submit__sub-header {
  font-size: 24px;
  line-height: 28px;
  margin: 1em 0em 0.5em 0em;
}

.submit__form-button-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.submit__cancel-button {
  margin-right: 1em;
}

.submit__button-wrapper {
}

.submit__info-text {
  font-size: 18px;
  line-height: 21px;
  margin: 2em 0 0.5em 0;
}

.submit__link-text {
  color: $secondary-theme-color;
  font-size: $medium-font-size;
  text-decoration-line: underline;
}

/* ----------
MULTIPLE OBSERVATION FORM
---------- */
.multiple-observation-form {
  background: #1f1f1f;
  border: 1px solid $secondary-theme-color;
  border-radius: 4px;
  box-sizing: border-box;
  color: $primary-text-color;
  margin: 0em 3em 3em 0;
  padding: 1em;
  resize: none;
}

/* ----------
CLAIM ACCOUNT
---------- */
.claim-account__wrapper {
  margin: 2em 4em;
}

.claim-account__header {
  @include view-title--desktop;
}

.claim-account__message {
  @include body-text--large-desktop;
  margin-top: 1em;
}

/* ----------
VERIFY CLAIM ACCOUNT
----------- */
.verify-claim-account__wrapper {
  margin: 2em 4em;
}

.verify-claim-account__header {
  @include view-title--desktop;
}
