/* ----------
APP
---------- */
.app__show-on-mobile {
  display: block;
}

.app__hide {
  display: none;
}

@media (min-width: 600px) {
  .app__hide-on-desktop {
    display: none;
  }
}

@media (max-width: 600px) {
  .app__hide-on-mobile {
    display: none;
  }
}

@media (min-width: 400px) and (max-width: 800px) {
  .app__hide-on-tablet {
    display: none;
  }
}

@media (min-width: 400px) and (max-width: 800px) {
  .app__show-on-tablet {
    display: block;
  }
}

.app__show-on-desktop {
  display: none;
}

@media (min-width: 600px) {
  .app__show-on-mobile {
    display: none;
  }

  .app__show-on-desktop {
    display: block;
  }
}

.app__nav-link {
  color: $primary-text-color;
  text-decoration: none;
}

.app__nav__icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
  left: -4px;
}

@media (max-width: 1150px) {
  .app__nav__icon {
    display: none;
  }
}

@media (max-width: 1150px) {
  .bm-item > .app__nav__icon {
    display: inline-block;
    position: relative;
    top: 5px;
    left: -8px;
  }
}

.app__link,
.app__link:visited {
  color: $primary-text-color;
  text-decoration: underline;
}

.app__link:hover {
  color: $primary-highlight-color;
  cursor: pointer;
}

.app__link--lowlight,
.app__link--lowlight:visited {
  color: $secondary-theme-color;
  text-decoration: underline;
}

.app__link--lowlight:hover {
  color: $secondary-theme-color;
  cursor: pointer;
}

.app__button--white {
  align-self: flex-start;
  background: $primary-text-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-size: $small-font-size;
  font-weight: 500;
  line-height: 23px;
  padding: 1em 2em;
  text-transform: uppercase;
}

.app__button--white:hover {
  cursor: pointer;
}

.app__white-button--small {
  align-self: flex-start;
  background: $primary-text-color;
  border: 1px solid $primary-text-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-weight: 500;
  line-height: 23px;
  padding: 0.5em 2em;
}

.app__black-button--small {
  align-self: flex-start;
  background: $primary-theme-color;
  border: 1px solid $primary-text-color;
  border-radius: 4px;
  color: $primary-text-color;
  display: inline-block;
  font-weight: 500;
  line-height: 23px;
  padding: 0.5em 2em;
}

.app__orange-button--small {
  align-self: flex-start;
  background: $primary-highlight-color;
  border: 1px solid $primary-highlight-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-weight: 500;
  line-height: 23px;
  padding: 0.5em 2em;
}

.app__white-button--small:hover,
.app__black-button--small:hover,
.app__orange-button--small:hover {
  cursor: pointer;
}

/* ----------
TOOLTIP
---------- */
.app__tooltip {
  background: $primary-highlight-color;
  color: $primary-text-color;
}

.app__tool-tip-wrapper {
  display: inline-block;
}

/* ----------
ROUNDED BUTTON
---------- */
.app__rounded-button--orange {
  align-self: flex-start;
  background: $primary-highlight-color;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: $primary-theme-color;
  font-weight: bold;
  line-height: 20px;
  padding: 0.75em 2em;
}

.app__rounded-button--orange:hover {
  background: $primary-text-color;
}

.app__rounded-button--orange:hover {
  cursor: pointer;
}

/* ----------
MOBILE HEADER 
---------- */
.mobile-header {
  background: $tertiary-color;
  padding: 1em;
}

@media (min-width: 800px) {
  .mobile-header {
    display: none;
  }
}

/* ----------
NAV BAR
---------- */
.nav-bar {
  display: none;
}

.nav-bar--welcome {
  display: none;
}

@media (min-width: 800px) {
  // nav bar styles shown everywhere but the welcome page
  .nav-bar {
    align-items: center;
    background: $tertiary-color;
    border: 3px solid $tertiary-color;
    display: flex;
    height: 3.5em;
    justify-content: space-between;
  }

  .nav-bar__sat-title-wrapper {
    border-bottom: 3px solid transparent;
    display: flex;
    align-items: center;
    margin-left: 1em;
  }

  .nav-bar__route-link-wrapper {
    align-items: center;
    display: flex;
  }

  .nav-bar__link-wrapper--highlight {
    align-items: center;
    color: $primary-text-color;
    border-bottom: 3px solid $primary-highlight-color;
    display: flex;
    height: 3.5em;
    margin: 0em 1em;
  }

  .nav-bar__link-wrapper--highlight:hover {
    cursor: pointer;
  }

  .nav-bar__link-wrapper--lowlight {
    border-bottom: 3px solid $tertiary-color;
    color: $tertiary-color--light;
    margin: 0em 1em;
  }

  .nav-bar__link-wrapper--lowlight:hover {
    cursor: pointer;
  }

  .nav-bar__link--highlight {
    color: $primary-text-color;
  }

  .nav-bar__link--lowlight {
    color: $tertiary-color--light;
  }

  .nav-bar__link--lowlight:hover {
    color: $primary-text-color;
  }

  .nav-bar__join-button {
    background: $primary-highlight-color;
    border-radius: 4px;
    color: $primary-theme-color;
    font-size: $small-font-size;
    font-weight: bold;
    margin-right: 1em;
    padding: 0.5em 2em;
  }

  .nav-bar__join-button:hover {
    background-color: $primary-text-color;
    cursor: pointer;
  }

  .nav-bar__button--lowlight {
    background-color: transparent;
    border: 1px solid $secondary-theme-color;
    color: $primary-text-color;
    display: inline-block;
    text-align: center;
    padding: 0.5em 1.5em;
  }

  .nav-bar__button--lowlight:hover {
    border-color: $primary-text-color;
  }

  // changes to nav bar shown on welcome page
  .nav-bar--welcome {
    align-items: center;
    border: 3px solid transparent;
    display: flex;
    height: 3.5em;
    justify-content: space-between;
    position: absolute;
    width: 100%;
  }

  .nav-bar__link-wrapper--highlight--welcome {
    align-items: center;
    border-bottom: 3px solid transparent;
    display: flex;
    height: 3.5em;
    margin: 0em 1em;
  }

  .nav-bar__link-wrapper--highlight--welcome:hover {
    cursor: pointer;
  }

  .nav-bar__link-wrapper--lowlight--welcome {
    border-bottom: 3px solid transparent;
    margin: 0em 1em;
  }

  .nav-bar__link-wrapper--lowlight--welcome:hover {
    cursor: pointer;
  }

  .nav-bar__link--highlight--welcome {
    color: $tertiary-color--light;
    text-decoration: none;
  }

  .nav-bar__link--lowlight--welcome {
    color: $tertiary-color--light;
    text-decoration: none;
  }

  .nav-bar__link--lowlight--welcome:hover {
    color: $primary-text-color;
  }

  .nav-bar__join-button--welcome {
    background: $primary-highlight-color;
    border-radius: 4px;
    color: $primary-theme-color;
    font-size: $small-font-size;
    font-weight: 700;
    margin-right: 1em;
    padding: 0.5em 2em;
  }

  .nav-bar__join-button--welcome:hover {
    background-color: $primary-text-color;
    color: $primary-theme-color;
    cursor: pointer;
  }

  .nav-bar__link--highlight--welcome:hover {
    cursor: default;
  }

  .nav-bar__join-button:hover {
    cursor: pointer;
  }
}

@media (min-width: 1000px) {
  .nav-bar__link-wrapper--highlight,
  .nav-bar__link-wrapper--lowlight,
  .nav-bar__link-wrapper--highlight--welcome,
  .nav-bar__link-wrapper--lowlight--welcome {
    margin: 0em 2em;
  }
}

.nav-bar__log-in-text {
  color: $tertiary-color--light;
  margin-right: 2em;
}

.nav-bar__log-in-text:hover {
  color: $primary-text-color;
  cursor: pointer;
}

/* ----------
TABLE
---------- */
.table {
  width: 100%;
}

.table__header {
  border-bottom: 1px solid $secondary-theme-color;
}

.table__header-text {
  @include label-text;
  padding: 0.5em 2em 1em 0em;
  text-align: left;
}
// used in HistoryMonthTable
.table__month-text {
  @include label-text--highlight;
  text-align: left;
}

.table__header-weight-text {
  @include label-text;
  padding-left: 0;
  padding-right: none;
  text-align: left;
}

.table__body-row:first-of-type td {
  padding-top: 1em;
}

.table__table-data {
  font-size: $extra-small-font-size;
  padding: 0.5em 1em 0.5em 0em;
  vertical-align: middle;
}

@media (min-width: 600px) {
  .table__table-data {
    padding: 0.5em 2em 0.5em 0em;
  }
}

.table__weight-data {
  font-size: $extra-small-font-size;
  padding-right: none;
  vertical-align: middle;
}

/* ----------
TABLE PAGINATOR
---------- */
.table-paginator {
  display: flex;
  justify-content: center;
}

.table-paginator__button-wrapper {
  color: $secondary-theme-color;
  display: flex;
  font-size: $extra-small-font-size;
}

.table-paginator__middle-text {
  margin: 0 1em;
}

.table-paginator__button-text:hover {
  color: $primary-text-color;
  cursor: pointer;
}

/* ----------
OBJECT BADGE
---------- */
.object-badge__wrapper--object-view {
  justify-content: center;
  display: flex;
  width: 100%;
}

/* ----------
EMAIL FORM 
---------- */
.log-in__header {
  @include view-title--desktop;
}

.app__form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

@media (min-width: 600px) {
  .app__form {
    min-width: 400px;
  }
}

.app__form__label {
  font-size: $small-font-size;
  font-weight: $regular-weight;
  margin: 0.5em 0;
}

.app__form__input {
  align-self: flex-start;
  background: $tertiary-color;
  border-radius: 4px;
  border: 1px solid $secondary-theme-color;
  box-sizing: border-box;
  color: $primary-text-color;
  font-size: $medium-font-size;
  height: 48px;
  margin-bottom: 1em;
  padding: 0.25em 0.5em;
  width: 100%;
}

textarea.app__form__input {
  height: initial;
}

.app__form__input--sign {
  max-width: 60px;
}

.app__form__checkbox-and-message-wrapper {
  align-items: flex-start;
  display: flex;
  margin: 0.5em 0 0.5em 0;
}

.app__form__checkbox {
  border: 1px solid yellow;
  margin-right: 1em;
  padding: 10px;
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
}

.app__form__button-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  text-align: center;
}

.app__form__button--cancel {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  display: inline-block;
  font-size: $medium-font-size;
  font-weight: 500;
  line-height: $medium-line-height;
  padding: 1em 2em;
}

.app__form__button--cancel:hover {
  cursor: pointer;
}

.app__form__button--white {
  background: $primary-text-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-size: $medium-font-size;
  font-weight: $light-weight;
  line-height: $medium-line-height;
  padding: 1em 2em;
}

.app__form__button--white:hover {
  cursor: pointer;
}

.app__form__link-to-login-wrapper {
  margin-top: 1em;
}
.app__form__log-in-text {
  text-decoration: underline;
  margin-top: 1em;
}

.app__form__error {
  color: $primary-highlight-color;
  margin-bottom: 1em;
}

/* ----------
BURGER MENU
---------- *?
/* Individual item */
.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: $primary-text-color;
  transition: color 0.2s;
}

.bm-item:hover {
  color: $primary-text-color;
}
/* The rest copied directly from react-burger-menu docs */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 10px;
  top: 10px;
}
// Dont display burger menu on any device wider than tablet (iPad)
@media (min-width: 800px) {
  .bm-burger-button {
    display: none;
  }
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $primary-text-color;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
/* Color/shape of close button cross */
.bm-cross {
  background: $primary-text-color;
}
/* General sidebar styles */
.bm-menu {
  background: $tertiary-color;
  padding: 1em;
  font-size: $extra-large-font-size;
  line-height: 50px;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
/* Wrapper for item list */
.bm-item-list {
  color: $primary-text-color;
}
/* Styling of overlay */
.bm-overlay {
  background: $primary-theme-color;
}

/* ----------
COPY TEXT
---------- */
.app__copy-text {
  color: $secondary-theme-color;
  line-height: $small-line-height;
  margin-left: 0.5em;
  size: $extra-small-font-size;
  text-decoration-line: underline;
}

.app__copy-text:hover {
  cursor: pointer;
}

.app__loading-message {
  color: $primary-highlight-color;
  font-size: $large-font-size;
  margin: 1em 0;
  text-align: center;
}

.app__success-message,
.app__error-message {
  font-size: $small-font-size;
  margin: 0 0 1em;
}

.app__error-message {
  color: $primary-highlight-color;
}

.app__success-message {
  color: $primary-text-color;
}

/* ----------
WELCOME VIEW
----------- */
.welcome__wrapper {
  font-family: $display-font;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 3.5em;
}

.welcome__hide-on-desktop {
  display: none;
}

@media (max-width: 800px) {
  .welcome__hide-on-mobile {
    display: none;
  }

  .welcome__hide-on-desktop {
    display: block;
  }
}

.welcome__wrapper section {
  margin-bottom: 2em;
}

.welcome__section-one {
  border: 1px solid white;
  display: grid;
  grid-template-columns: 2fr 22fr;
}

.welcome__section-one div {
  border: 1px solid red;
}

.welcome__iframe-wrapper {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
}

.welcome__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome__section-two {
  border: 1px solid white;
  display: grid;
  grid-template-columns: 10fr 1fr 13fr;
}

.welcome__section-two span {
  border: 2px dotted red;
}

.welcome-section-two__copy-container--top {
  border: 1px solid white;
  display: grid;
  grid-template-columns: 8fr 1fr 4fr;
}

.welcome-section-two__copy-container--bottom {
  border: 1px solid white;
  display: grid;
  grid-template-columns: 9fr 4fr;
}

@media (max-width: 800px) {
  .welcome__section-two {
    display: inline-block;
  }

  .welcome-section-two__copy-container--top {
    display: block;
  }

  .welcome-section-two__copy-container--top div {
    display: grid;
    grid-template-columns: 4fr 9fr;
  }

  .welcome-section-two__copy-container--top span {
    border: 2px dotted red;
  }

  .welcome-section-two__copy-container--bottom {
    grid-template-columns: 4fr 9fr;
  }
}

.welcome__section-three {
  border: 1px solid white;
}

.welcome__section-three-content {
  border: 1px solid white;
  display: grid;
  grid-template-columns: 11fr 13fr;
}

.welcome__section-three-content--left {
  border: 1px solid white;
}

.welcome__section-three-content-left--top {
  border: 1px solid white;
  display: grid;
  grid-template-columns: 10fr 1fr;
}

.welcome__section-three-content-left--top span {
  border: 2px dotted red;
}

.welcome__section-three-content-left--bottom {
  border: 1px solid white;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
}

.welcome__section-three-content-left--bottom span {
  border: 2px dotted red;
}

.welcome__section-three-content--right {
  border: 1px solid white;
}

.welcome__section-three-content-right--bottom {
  border: 1px solid white;
  display: grid;
  grid-template-columns: 9fr 4fr;
}

.welcome__section-three-content-right--bottom span {
  border: 2px dotted red;
}

// .welcome__content-wrapper {
//   max-width: 1080px;
//   margin: 0 auto;
//   padding: 0 1.5em;
// }

// .welcome__bottom-wrapper {
//   background-color: $tertiary-color;
// }

// .welcome__section--one {
//   background-color: $primary-theme-color;
//   padding: 3.5em 0em 7em;
// }

// .welcome__section--two {
//   background-color: $primary-theme-color;
//   padding: 0;
// }

// .welcome__section--three {
//   background-color: $primary-theme-color;
//   padding: 0 0 3em 0;
// }

// .welcome__section--four {
//   padding: 4em 0 4em 0;
// }

// @media (min-width: 600px) {
//   .welcome__section--one {
//     padding: 7em 4em 9em;
//   }

//   .welcome__section--two {
//     padding: 0 4em 0 4em;
//   }

//   .welcome__section--three {
//     padding: 0 4em 4em 4em;
//   }

//   .welcome__section--four {
//     padding: 4em 4em 4em 4em;
//   }
// }

// .welcome__title-logo-wrapper {
//   text-align: center;
// }

// .welcome__image {
//   object-fit: cover;
//   width: 100%;
// }

// .welcome__logo-image {
//   max-width: 260px;
//   position: relative;
// }

// @media (min-width: 600px) {
//   .welcome__logo-image {
//     max-width: 300px;
//   }
// }

// .welcome__trusat-tagline {
//   font-size: 16px;
//   letter-spacing: 0.08em;
//   line-height: 19px;
//   margin: 1em 0;
//   position: relative;
// }

// @media (min-width: 600px) {
//   .welcome__trusat-tagline {
//     font-size: 24px;
//     line-height: 37px;
//     margin: 1em 0;
//   }
// }

// .welcome__globe-image {
//   margin-top: -3em;
// }

// @media (min-width: 600px) {
//   .welcome__globe-image {
//     max-width: 800px;
//     margin-top: -8em;
//   }
// }

// .welcome__title-intro-wrapper {
//   margin: -2em 1em 1em 1em;
//   text-align: center;
// }

// @media (min-width: 600px) {
//   .welcome__title-intro-wrapper {
//     margin: -7em 2em 1em 2em;
//   }
// }

// .welcome__illustration-join-wrapper {
//   display: flex;
//   justify-content: space-between;
//   margin: 0 0 8em 0;
// }

// @media (min-width: 600px) {
//   .welcome__illustration-join-wrapper {
//     margin-bottom: 10em;
//   }
// }

// @media (max-width: 770px) {
//   .welcome__illustration-join-wrapper {
//     flex-wrap: wrap;
//   }
//   // flip middle join wrapper order on mobile
//   .welcome__illustration-join-wrapper--center {
//     flex-direction: column-reverse;
//   }
// }

// .welcome__illustration {
//   height: auto;
//   width: 100%;
// }

// @media (min-width: 600px) {
//   .welcome__illustration {
//     width: 360px;
//     height: auto;
//   }

//   .welcome__illustration-wrapper--left {
//     margin-right: 3em;
//   }

//   .welcome__illustration-wrapper--right {
//     margin-left: 3em;
//   }
// }

// @media (max-width: 770px) {
//   .welcome__illustration-wrapper--left,
//   .welcome__illustration-wrapper--right {
//     margin: 0 auto;
//   }
// }

// .welcome__join-copy-wrapper {
//   flex-wrap: wrap;
// }

// .welcome__sub-header--white {
//   margin: 0.25em 0em;
// }

// @media (min-width: 600px) {
//   .welcome__sub-header--nowrap {
//     white-space: nowrap;
//   }
// }

// .welcome__join-button {
//   margin-top: 1em;
// }

// @media (min-width: 600px) {
//   .welcome__sub-header--white {
//     margin-bottom: none;
//   }

//   .welcome__join-button {
//     margin-top: none;
//   }
// }

// .welcome__iframe-wrapper {
//   height: 0;
//   margin: 1em auto 1.5em;
//   overflow: hidden;
//   position: relative;
//   padding-bottom: 56.25%;
//   padding-top: 2em;
// }

// @media (min-width: 600px) {
//   .welcome__iframe-wrapper {
//     margin-bottom: 2em;
//     max-width: 890px;
//   }
// }

// .welcome__iframe {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

// .welcome__subscribe-button {
//   position: absolute;
//   height: 40px;
//   right: -15px;
//   vertical-align: center;
// }

// @media (min-width: 600px) {
//   .welcome__subscribe-button {
//     right: -20px;
//   }
// }

// .welcome__sub-header--white {
//   font-size: 32px;
//   font-style: normal;
//   font-weight: bold;
//   line-height: 39px;
// }

// @media (min-width: 600px) {
//   .welcome__sub-header--white {
//     font-size: 48px;
//     line-height: 59px;
//   }
// }

// .welcome__large-copy--bold {
//   font-size: 24px;
//   font-weight: bold;
//   line-height: 30px;
//   margin-bottom: 0.25em;
// }

// @media (min-width: 600px) {
//   .welcome__large-copy--bold {
//     font-size: 48px;
//     line-height: 60px;
//   }
// }

// .welcome__medium-copy--white {
//   font-size: 18px;
//   line-height: 22px;
//   margin-bottom: 2em;
// }

// .welcome__medium-copy--smaller-bottom {
//   margin-bottom: 1em;
// }

// @media (min-width: 600px) {
//   .welcome__medium-copy--white {
//     font-size: 18px;
//     line-height: 22px;
//     margin-bottom: 3.5em;
//     padding: 0 25%;
//   }

//   .welcome__medium-copy--smaller-bottom {
//     margin-bottom: 1em;
//   }
// }

// .welcome__small-copy--white {
//   font-size: 18px;
//   line-height: 22px;
//   margin-bottom: 12px;
// }

// .welcome__small-copy--bold {
//   font-weight: bold;
//   font-size: 18px;
// }

// .welcome__ul {
//   display: flex;
//   flex-direction: column;
//   list-style: disc outside;
//   margin-left: 1.1em;
//   font-size: 18px;
//   line-height: 22px;
// }

// .welcome__li {
//   margin-bottom: 0.5em;
// }

// @media (min-width: 600px) {
//   .welcome__small-copy--white {
//     font-size: 18px;
//     line-height: 24px;
//     margin-bottom: 0.75em;
//   }
// }

// .welcome__emoticon {
//   font-size: 18px;
//   white-space: nowrap;
// }

/* ----------
PARTNERS
---------- */
.partners__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2em 0em 5em 0em;
}

.partners__logo-wrapper {
  flex-basis: 110px;
  font-size: $small-font-size;
  line-height: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  text-align: center;
}

@media (min-width: 600px) {
  .partners__logo-wrapper {
    flex-basis: 160px;
  }
}

.partners__logo-wrapper:last-child {
  margin-right: 0;
}

.partners__logo-wrapper > a {
  text-decoration: none;
}

.partners__logo {
  width: 100%;
}

.welcome__mailing-list-wrapper {
  padding: 0 1.5em 0 0;
}

.welcome__partners-wrapper {
  margin: 1em 0em 1em 0em;
}

/* ----------
ADVISORS
---------- */
.advisors__logo {
  height: 160px;
  border-radius: 50%;
  width: 160px;
}

/* ----------
MAILING LIST FORM
---------- */
.mailing-list__input-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  margin: 1em 0;
}

@media (min-width: 400px) {
  .mailing-list__input-button-wrapper {
    margin-bottom: 0;
  }
}

@media (min-width: 400px) {
  .mailing-list__input-button-wrapper {
    flex-wrap: nowrap;
    max-width: 600px;
  }
}

.mailing-list__input {
  background: transparent;
  border: 1px solid $primary-text-color;
  color: $primary-text-color;
  font-family: roboto;
  font-size: 20px;
  height: 41px;
  max-width: 400px;
  padding-left: 0.5em;
  width: 100%;
}

@media (min-width: 400px) {
  .mailing-list__input {
    border-right: none;
  }
}

.mailing-list__input::placeholder {
  color: $primary-text-color;
}

.mailing-list__input--test-pilots {
  border: 1px solid $tertiary-color--light;
}

.mailing-list__button {
  background: $primary-highlight-color;
  border: 1px solid $primary-highlight-color;
  border-radius: 8px;
  color: $primary-theme-color;
  font-weight: bold;
  height: 41px;
  line-height: 1.25%;
  margin: 0.5em 0;
  min-width: 170px; // stops button text squeezing on re-size
  padding: 0.5em 2em;
}

.mailing-list__button:hover {
  background: $primary-text-color;
  border: 1px solid $primary-text-color;
}

@media (min-width: 400px) {
  .mailing-list__button {
    margin: 0em;
    margin-left: -8px;
  }
}

.mailing-list__button:hover {
  cursor: pointer;
}

.mailing-list__button--test-pilots {
  background-color: $secondary-theme-color;
  border: 1px solid $secondary-theme-color;
  color: $primary-theme-color;
}

/* ----------
JOIN VIEW 
---------- */
.join__wrapper {
  margin: 0 1em;
  padding: 2em 1em;
}

@media (min-width: 600px) {
  .join__wrapper {
    padding: 3em 4em;
    margin: 0 auto;
    max-width: 1000px;
  }
}

.join__header {
  margin-bottom: 3em;
  text-align: center;
}

@media (min-width: 600px) {
  .join__header {
    margin-bottom: 6em;
  }
}

.join__logo-image {
  max-width: 260px;
}

@media (min-width: 600px) {
  .join__logo-image {
    max-width: 300px;
  }
}

.join__trusat-tagline {
  font-size: 16px;
  letter-spacing: 0.08em;
  line-height: 19px;
  margin: 1em 0;
  position: relative;
}

@media (min-width: 600px) {
  .join__trusat-tagline {
    font-size: 24px;
    line-height: 37px;
    margin: 1em 0;
  }
}

.join__sub-header {
  font-size: 32px;
  font-weight: bold;
  line-height: 39px;
}

@media (min-width: 600px) {
  .join__sub-header {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
  }
}

.join__copy {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 12px;
}

@media (min-width: 600px) {
  .join__copy {
    margin-bottom: 0.75em;
  }
}

.join__content-wrapper {
  margin-bottom: 4em;
}

@media (min-width: 600px) {
  .join__content-wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10em;
  }
}

.join__mailing-list-content-wrapper {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 1em;
}

@media (min-width: 600px) {
  .join__mailing-list-content-wrapper {
    margin-top: 0;
    width: 50%;
  }
}

.join__image-wrapper {
  position: relative;
}

@media (min-width: 600px) {
  .join__image-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    padding-left: 3em;
    width: 50%;
  }
}

.join__image {
  object-fit: contain;
  position: absloute;
  width: 100%;
  height: auto;
}

/* ----------
STATIC PAGE VIEW 
- /about
- /howto
- /charter
---------- */
.static-page__wrapper {
  background: $primary-theme-color;
  padding: 2em 1em;
  max-width: 840px;
  margin: 0 auto;
}

.static-page__section {
  margin-bottom: 5em;
}

.static-page__main-header {
  color: $primary-highlight-color;
  font-family: $display-font;
  font-size: 36px;
  font-weight: 200;
  line-height: 42px;
}

@media (min-width: 600px) {
  .static-page__wrapper {
    padding: 2em 4em;
  }

  .static-page__main-header {
    font-size: 76px;
    line-height: 89px;
  }
}

.static-page__main-header--small {
  color: $primary-highlight-color;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0.5em;
}

@media (min-width: 600px) {
  .static-page__main-header--small {
    font-size: 36px;
    line-height: 45px;
  }
}

.static-page__sub-header {
  @include section-title;
  border-bottom: 1px solid $primary-text-color;
  margin: 3em 0em 0.5em 0em;
  padding-bottom: 0.25em;
  text-transform: uppercase;
  width: 100%;
}

.static-page__sub-header--no-underline {
  border-bottom: 0;
  padding-bottom: 0;
}

.static-page__copy {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .static-page__copy {
    font-size: 20px;
    line-height: 25px;
  }
}

.static-page__copy--bold {
  font-weight: bold;
}

.static-page__link {
  color: $primary-text-color;
  text-decoration: underline;
}

.static-page__link--highlight {
  color: $primary-highlight-color;
  text-decoration: underline;
}

.static-page__link--highlight:hover {
  color: $primary-text-color;
}

.static-page__sub-header--margin_fix {
  margin-bottom: 2em;
}

.static-page__partner-link {
  color: $primary-text-color;
}

.static-page__partner-link:hover {
  color: $primary-highlight-color;
}

/* ---------- 
ABOUT VIEW  
---------- */
.about__about-trusat-section {
  font-family: $display-font;
  font-size: 20px;
  font-weight: $light-weight;
  line-height: 25px;
}

.about__deck {
  margin-top: 1em;
}

.about__block-wrapper {
  margin-top: 4em;
}

.about__block-pair {
  display: block;
  margin-bottom: 2em;
}

@media (min-width: 600px) {
  .about__block-pair {
    display: flex;
  }
}

@media (min-width: 600px) {
  .about__block--left {
    width: 200px;
    flex: 0 0 250px;
  }
}

@media (min-width: 600px) {
  .about__block--right {
    padding-left: 1em;
    padding-top: 0.15em; //Fix for mystery misalignment
    flex: 1 1 230px;
    width: 200px;
  }
}

.about__illustration {
  height: auto;
  width: 100%;
}

.about__sub-header--top {
  margin-top: 1em;
}

.about__mailing-list-wrapper {
  margin-top: 2em;
}

.about__ul {
  list-style: disc outside;
  margin-left: 1.1em;
}

/* ----------
HOW TO VIEW 
---------- */
.how-to__wrapper {
  font-family: $display-font;
  font-size: 20px;
  font-weight: $light-weight;
  line-height: 25px;
}

.how-to__sub-header--top {
  margin-top: 0.5em;
}

.how-to__step-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

@media (min-width: 600px) {
  .how-to__step-wrapper {
    flex-direction: row;
  }
}

@media (min-width: 600px) {
  .how-to__step-wrapper {
    border-top: 1px solid $tertiary-color;
    padding-top: 1em;
    margin-bottom: 2em;
  }
}

.how-to__step-number {
  flex-basis: 50px;
  min-width: 50px;
  font-size: $extra-large-font-size;
}

@media (max-width: 600px) {
  .how-to__step-icon-wrapper {
    max-width: 100px;
  }
}

@media (min-width: 600px) {
  .how-to__step-icon-wrapper {
    min-width: 100px;
  }
}

@media (min-width: 600px) {
  .how-to__step-image-wrapper {
    min-width: 200px;
    width: 200px;
  }
}

.how-to__step-description {
  padding-left: 0;
}

@media (min-width: 600px) {
  .how-to__step-description {
    padding-left: 1em;
  }
}

.how-to__screenshot {
  width: 100%;
}

@media (min-width: 600px) {
  .how-to__sub-header--top {
    margin-top: 1em;
  }
}

// stops sign up button wrapping over copy below
.how-to__copy--with-margin {
  margin-top: 4em;
}

@media (min-width: 400px) {
  .how-to__copy--with-margin {
    margin-top: 1em;
  }
}

.how-to__ul {
  display: flex;
  flex-direction: column;
  list-style: disc outside;
  margin-left: 1.1em;
  font-size: 20px;
  line-height: 25px;
}

.how-to__ul > li {
  margin-bottom: 0.5em;
}

/* ----------
CHARTER VIEW
---------- */
.charter__sub-header {
  margin-top: 1em;
}

/* ----------
FAQ view
---------- */
.faq__wrapper {
  font-family: $display-font;
  font-size: 20px;
  font-weight: $light-weight;
  line-height: 25px;
}

.faq__sub-header {
  margin-top: 1em;
}

.faq__question {
  font-family: $main-font;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0.05em;
  margin-bottom: 0.5em;
  margin: 1em 0em 0.5em 0em;
}

.faq__answer {
  font-family: $main-font;
  line-height: 27px;
  margin-bottom: 2em;
}

/* ----------
COOKIE BANNER
---------- */
.cookie-banner {
  background: $primary-highlight-color;
  bottom: 0;
  box-shadow: 0px -3px 6px $primary-theme-color;
  padding: 1em;
  position: fixed;
  width: 100%;
}

.cookie-banner__message {
  @include body-text--large;
  color: $primary-theme-color;
}

@media (min-width: 600px) {
  .cookie-banner__message {
    @include body-text--large-desktop;
    color: $primary-theme-color;
  }
}

.cookie-banner__button-wrapper {
  font-size: $small-font-size;
  margin-top: 1em;
}

.cookie-banner__ok-button {
  margin-right: 1em;
}

.cookie-banner__link {
  align-items: center;
  color: $primary-theme-color;
  font-size: $extra-small-font-size;
  margin-top: 1em;
}

/* ----------
Footer
---------- */
.footer {
  bottom: 0;
  left: 0;
  margin-right: 4em;
  position: absolute;
  right: 0;
}

.footer__content {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  padding: 1em;
}

@media (min-width: 600px) {
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2em;
  }
}

.footer__text-links-wrapper {
  align-items: center;
  display: flex;
  font-size: $extra-small-font-size;
  margin-top: 0.5em;
}

@media (min-width: 600px) {
  .footer__text-links-wrapper {
    margin-top: none;
  }
}

.footer__text-link {
  margin-right: 1em;
}

/* ----------
SOCIAL ICONS
---------- */
.social-icon {
  height: auto;
  margin: 0 0.5em;
  width: 30px;
}

.social-icon:hover {
  border: 2px solid transparent;
  cursor: pointer;
}

.social-icon--first {
  margin-left: 0;
}

.social-icon--last {
  margin: none;
}

/* ----------
TEST PILOTS
---------- */
.test-pilots__wrapper {
  align-items: center;
  display: flex;
  text-align: start;
}

.test-pilots__header {
  line-height: 22px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.test-pilots__image-wrapper {
  margin-right: 1em;
}

.test-pilots__image {
  height: auto;
  width: 100%;
}

.test-pilots__copy-wrapper {
  margin-left: 0;
}

@media (min-width: 600px) {
  .test-pilots__copy-wrapper {
    margin-left: 1em;
  }
}

.test-pilots__copy {
  color: $secondary-theme-color;
  font-size: 18px;
  line-height: 22px;
}

/* ----------
SUBSCRIPTION CONFIRMED 
---------- */
.subscription-confirmed__copy {
  font-size: $extra-large-font-size;
  color: $primary-highlight-color;
  margin-top: 2em;
  margin-bottom: 0.5em;
  text-align: start;
}

.subscription-confirmed__link {
  color: $primary-text-color;
}

.join__subheader,
.join__subheader > a {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

/* ----------
DISCOURSE CHAT BUTTON
---------- */
.discourse-chat-button__wrapper {
  bottom: 0;
  position: fixed;
  right: 1em;
}

.discourse-chat-button__icon {
  bottom: 4px;
  height: auto;
  position: relative;
  width: 50px;
}

.discourse-chat-button__icon:hover {
  cursor: pointer;
  border: 2px solid transparent;
}
