/* ----------
APP
---------- */

.app__show-on-mobile {
  display: block;
}

.app__hide {
  display: none;
}

@media (min-width: 600px) {
  .app__hide-on-desktop {
    display: none;
  }
}

@media (max-width: 600px) {
  .app__hide-on-mobile {
    display: none;
  }
}

.app__show-on-desktop {
  display: none;
}

@media (min-width: 600px) {
  .app__show-on-mobile {
    display: none;
  }

  .app__show-on-desktop {
    display: block;
  }
}

.app__nav-link {
  color: $primary-text-color;
  text-decoration: none;
}

.app__button--white {
  align-self: flex-start;
  background: $primary-text-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  padding: 1em 3em;
}

.app__button--white:hover {
  cursor: pointer;
}

.app__white-button--small {
  align-self: flex-start;
  background: $primary-text-color;
  border: 1px solid $primary-text-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-weight: 500;
  line-height: 23px;
  padding: 0.5em 2em;
}

.app__white-button--small:hover {
  cursor: pointer;
}

.app__button--black {
  align-self: flex-start;
  background: $primary-theme-color;
  border: 1px solid $tertiary-color;
  border-radius: 4px;
  color: $primary-text-color;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  padding: 1em 3em;
}

.app__button--black:hover {
  cursor: pointer;
}

.app__black-button--small {
  align-self: flex-start;
  background: $primary-theme-color;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  color: $primary-text-color;
  display: inline-block;
  font-weight: 500;
  line-height: 23px;
  padding: 0.5em 2em;
}

.app__black-button--small:hover {
  cursor: pointer;
}

.app__yellow-button--small {
  align-self: flex-start;
  background: $primary-highlight-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-weight: 500;
  line-height: 23px;
  padding: 0.5em 2em;
}

.app__yellow-buttton--small:hover {
  cursor: pointer;
}

.app__tooltip {
  background: $primary-highlight-color;
  color: $primary-text-color;
}

.app__rounded-button--black {
  align-self: flex-start;
  background: #0e0e1e;
  border-radius: 23px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: $primary-text-color;
  display: inline-block;
  line-height: 20px;
  padding: 0.5em 2em;
}

.app__rounded-button--orange {
  align-self: flex-start;
  background: #fc7756;
  border-radius: 23px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: #0a0b18;
  line-height: 20px;
  padding: 0.75em 2em;
}

.app__rounded-button--black,
.app__rounded-button--orange:hover {
  cursor: pointer;
}

/* ----------
MOBILE HEADER 
---------- */
.mobile-header {
  background: #2d2d2d;
  padding: 1em;
}

.mobile-header__app-title {
  font-size: $medium-line-height;
  font-weight: 900;
  line-height: $medium-line-height;
  letter-spacing: 0.2em;
}

/* ----------
NAV BAR
---------- */
.nav-bar {
  display: none;
}

.nav-bar--welcome {
  display: none;
}

@media (min-width: 600px) {
  // nav bar styles shown everywhere but the welcome page
  .nav-bar {
    align-items: center;
    background: #2d2d2d;
    border: 3px solid #2d2d2d;
    display: flex;
    height: 3.5em;
    justify-content: space-between;
  }

  .nav-bar__sat-title-wrapper {
    border-bottom: 3px solid transparent;
    display: flex;
    align-items: center;
    margin-left: 1em;
  }

  .nav-bar__route-link-wrapper {
    align-items: center;
    display: flex;
  }

  .nav-bar__link-wrapper--highlight {
    align-items: center;
    color: $primary-text-color;
    border-bottom: 3px solid $primary-highlight-color;
    display: flex;
    height: 3.5em;
    margin: 0em 2em;
  }

  .nav-bar__link-wrapper--highlight:hover {
    cursor: pointer;
  }

  .nav-bar__link-wrapper--lowlight {
    border-bottom: 3px solid #2d2d2d;
    color: #888888;
    margin: 0em 2em;
  }

  .nav-bar__link-wrapper--lowlight:hover {
    cursor: pointer;
  }

  .nav-bar__link--highlight {
    color: $primary-text-color;
    text-decoration: none;
  }

  .nav-bar__link--lowlight {
    color: #888888;
    text-decoration: none;
  }

  .nav-bar__join-button {
    background: $primary-highlight-color;
    border-radius: 4px;
    color: $primary-theme-color;
    line-height: 14px;
    font-weight: bold;
    font-size: 12px;
    margin-right: 1em;
    padding: 1em 3em;
  }

  .nav-bar__join-button:hover {
    cursor: pointer;
  }

  .nav-bar {
    align-items: center;
    background: #2d2d2d;
    border: 3px solid #2d2d2d;
    display: flex;
    height: 3.5em;
    justify-content: space-between;
  }
  // changes to nav bar shown on welcome page
  .nav-bar--welcome {
    align-items: center;
    border: 3px solid transparent;
    display: flex;
    height: 3.5em;
    justify-content: space-between;
    position: absolute;
    width: 100%;
  }

  .nav-bar__link-wrapper--highlight--welcome {
    align-items: center;
    // color: #0e0e1e;
    border-bottom: 3px solid #0e0e1e;
    display: flex;
    height: 3.5em;
    margin: 0em 2em;
  }

  .nav-bar__link-wrapper--highlight--welcome:hover {
    cursor: pointer;
  }

  .nav-bar__link-wrapper--lowlight--welcome {
    border-bottom: 3px solid transparent;
    color: #888888;
    margin: 0em 2em;
  }

  .nav-bar__link-wrapper--lowlight--welcome:hover {
    cursor: pointer;
  }

  .nav-bar__link--highlight--welcome {
    color: #0e0e1e;
    text-decoration: none;
  }

  .nav-bar__link--lowlight--welcome {
    opacity: 0.5;
    text-decoration: none;
  }

  .nav-bar__join-button--welcome {
    background: #0e0e1e;
    border-radius: 4px;
    color: $primary-text-color;
    line-height: 14px;
    font-weight: bold;
    font-size: 12px;
    margin-right: 1em;
    padding: 1em 3em;
  }

  .nav-bar__join-button:hover {
    cursor: pointer;
  }
}

/* ----------
TABLE
---------- */
.table {
  width: 100%;
}

.table__header {
  border-bottom: 1px solid $secondary-theme-color;
}

.table__header-text {
  @include label-text;
  padding: 0.5em 2em 1em 0em;
  text-align: left;
}

// used in HistoryMonthTable
.table__month-text {
  @include label-text--highlight;
  text-align: left;
}

.table__header-weight-text {
  @include label-text;
  padding-right: none;
  padding-left: 0;
  text-align: left;
}

.table__body-row:first-of-type td {
  padding-top: 1em;
}

.table__table-data {
  font-size: $extra-small-font-size;
  padding: 0.5em 2em 0.5em 0em;
  vertical-align: middle;
}

.table__weight-data {
  font-size: $extra-small-font-size;
  padding-right: none;
  vertical-align: middle;
}

/* ----------
TABLE PAGINATOR
---------- */
.table-paginator {
  display: flex;
  justify-self: center;
  margin: 1em 0;
}

.table-paginator__button-wrapper {
  color: $secondary-theme-color;
  display: flex;
  font-size: $extra-small-font-size;
  margin-left: auto;
  margin-right: auto;
}

.table-paginator__middle-text {
  margin: 0 1em;
}

.table-paginator__button-text:hover {
  cursor: pointer;
}

/* ----------
TOOL TIP HELPER
---------- */
.app__tool-tip-wrapper {
  display: inline-block;
}

/* ----------
EMAIL FORM 
---------- */
.log-in__header {
  @include view-title--desktop;
}

.email-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

@media (min-width: 600px) {
  .email-form {
    min-width: 400px;
  }
}

.email-form__label {
  font-size: $small-font-size;
  font-weight: $regular-weight;
  margin: 0.5em 0;
}

.email-form__input {
  align-self: flex-start;
  background: black;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #cccccc;
  color: $primary-text-color;
  font-size: $medium-font-size;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
}

.email-form__checkbox-and-message-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 0.5em 0 0.5em 0;
}

.email-form__button-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  text-align: center;
}

.email-form__button--black {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  display: inline-block;
  font-size: $medium-font-size;
  font-weight: 500;
  line-height: $medium-line-height;
  padding: 1em 2em;
}

.email-form__button--black:hover {
  cursor: pointer;
}

.email-form__button--white {
  background: $primary-text-color;
  border-radius: 4px;
  color: $primary-theme-color;
  display: inline-block;
  font-size: $medium-font-size;
  font-weight: $light-weight;
  line-height: $medium-line-height;
  padding: 1em 2em;
}

.email-form__button--white:hover {
  cursor: pointer;
}

.email-form__link-to-login-wrapper {
  margin-top: 1em;
}

.email-form__sign-up-text,
.email-form__log-in-text {
  text-decoration: underline;
  margin-top: 1em;
}

.email-form__error {
  color: $primary-highlight-color;
  margin-bottom: 1em;
}

/* ----------
BURGER MENU
---------- *?
/* Individual item */
.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 10px;
  top: 10px;
}

@media (min-width: 600px) {
  .bm-burger-button {
    display: none;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #2d2d2d;
  padding: 1em;
  font-size: $extra-large-font-size;
  line-height: 50px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: $primary-text-color;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* ----------
COPY TEXT
---------- */
.app__copy-text {
  color: $secondary-theme-color;
  line-height: $small-line-height;
  margin-left: 0.5em;
  size: $extra-small-font-size;
  text-decoration-line: underline;
}

.app__copy-text:hover {
  cursor: pointer;
}

// TODO color of font for these messages?
.app__loading-message {
  color: $primary-highlight-color;
  font-size: $large-font-size;
  margin: 1em 0;
  text-align: center;
}

.app__success-message,
.app__error-message {
  color: $primary-highlight-color;
  font-size: $large-font-size;
  margin: 1em 0;
}

/* ----------
WELCOME VIEW
----------- */
.welcome__wrapper {
}

.welcome__section--one {
  background: linear-gradient(0deg, #081122 0%, #004f85 50.52%, #fc7756 100%);
  padding: 3.5em 1em;
}

.welcome__section--two {
  background: linear-gradient(0deg, #004f85 0%, #fc7756 100%);
  padding: 2em 1em 6em 1em;
}

.welcome__section--three {
  background: linear-gradient(0deg, #fc7756 0%, #004f85 100%);
  padding: 1em 1em 4em 1em;
}

@media (min-width: 600px) {
  .welcome__section--one {
    background: linear-gradient(0deg, #081122 0%, #004f85 50.52%, #fc7756 100%);
    padding: 10em 4em;
  }

  .welcome__section--two {
    background: linear-gradient(0deg, #004f85 0%, #fc7756 100%);
    padding: 3em 4em 6em 4em;
  }

  .welcome__section--three {
    background: linear-gradient(0deg, #fc7756 0%, #004f85 100%);
    padding: 1em 4em 4em 4em;
  }
}

.welcome__title-logo-wrapper {
  text-align: center;
}

.welcome__image {
  object-fit: cover;
  width: 100%;
}

.welcome__logo-image {
  max-width: 480px;
}

.welcome__globe-image {
  max-width: 650px;
}

.welcome__trusat-tagline {
  font-size: 16px;
  line-height: 19px;
  margin: 1em 0;
}

@media (min-width: 600px) {
  .welcome__trusat-tagline {
    font-size: 32px;
    letter-spacing: 0.04em;
    line-height: 37px;
    margin: 1em 0;
  }
}

.welcome__illustration-join-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 6em;
}

// flip middle join wrapper order on mobile
@media (max-width: 600px) {
  .welcome__illustration-join-wrapper {
    flex-wrap: wrap;
  }

  .welcome__illustration-join-wrapper--center {
    flex-direction: column-reverse;
  }
}

.welcome__illustration {
  background: #c4c4c4;
  height: 314px;
  width: 100%;
}

@media (min-width: 600px) {
  .welcome__illustration {
    background: #c4c4c4;
    height: 332px;
    max-width: 332px;
  }

  .welcome__illustration--left {
    margin-right: 1em;
  }

  .welcome__illustration--right {
    margin-left: 1em;
  }
}

.welcome__join-copy-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.welcome__sub-header--white {
  margin: 0.25em 0em;
}

.welcome__join-button {
  margin-top: 1em;
}

@media (min-width: 600px) {
  .welcome__join-copy-wrapper {
    min-width: 350px;
  }

  .welcome__sub-header--white {
    margin-bottom: none;
  }

  .welcome__join-button {
    margin-top: none;
  }
}

.welcome__iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.welcome__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome__input-button-wrapper {
  display: flex;
  position: relative;
  height: 40px;
  margin-top: 1em;
  max-width: 550px;
  width: 95%;
}

@media (min-width: 600px) {
  .welcome__input-button-wrapper {
    width: 100%;
  }
}

.welcome__input {
  background: transparent;
  border: 1px solid #0e0e1e;
  box-sizing: border-box;
  flex: 1;
  font-family: roboto;
  font-size: 20px;
  padding-left: 0.5em;
  width: 400px;
}

.welcome__input::placeholder {
  color: #004f85;
}

.welcome__subscribe-button {
  position: absolute;
  height: 24px;
  right: -15px;
  vertical-align: center;
}

@media (min-width: 600px) {
  .welcome__subscribe-button {
    right: -20px;
  }
}

.welcome__sub-header--black {
  color: #0e0e1e;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 59px;
}

.welcome__sub-header--white {
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: 39px;
}

@media (min-width: 600px) {
  .welcome__sub-header--white {
    font-size: 48px;
    line-height: 59px;
  }
}

.welcome__large-copy {
  line-height: 39px;
  font-size: 32px;
  margin-top: 0.5em;
}

.welcome__large-copy--bold {
  line-height: 39px;
  font-size: 32px;
  font-weight: bold;
  margin: 0.5em 0;
}

@media (min-width: 600px) {
  .welcome__large-copy {
    line-height: 59px;
    font-size: 48px;
  }

  .welcome__large-copy--bold {
    line-height: 59px;
    font-size: 48px;
  }
}

.welcome__small-copy--black {
  color: #081122;
  font-size: 24px;
  line-height: 29px;
}

.welcome__small-copy--white {
  font-size: 24px;
  line-height: 29px;
}

@media (min-width: 600px) {
  .welcome__small-copy--black {
    font-size: 32px;
    line-height: 39px;
  }

  .welcome__small-copy--white {
    font-size: 32px;
    line-height: 39px;
  }
}

.welcome__mailing-list-wrapper {
  margin: 2em 0;
}

.welcome__partners-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 0em 5em 0em;
}

/* ----------
STATIC PAGE VIEW 
- /whitepaper
- /about
- /howto
---------- */
.static-page__wrapper {
  background: #081122;
  padding: 2em 1em;
}

.static-page__section {
  margin-bottom: 5em;
}

.static-page__main-header {
  color: #fc7756;
  line-height: 42px;
  font-size: 36px;
  font-weight: 200;
}

@media (min-width: 600px) {
  .static-page__wrapper {
    padding: 2em 4em;
  }

  .static-page__main-header {
    font-size: 76px;
    line-height: 89px;
  }
}

.static-page__sub-header {
  @include section-title;
  border-bottom: 1px solid $primary-text-color;
  margin: 3em 0em 0.5em 0em;
  padding-bottom: 0.25em;
  width: 100%;
}

.static-page__copy {
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
}

.static-page__link {
  color: $primary-text-color;
  text-decoration: underline;
}

/* ---------- 
WHITEPAPER VIEW
---------- */
.whitepaper__link-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.white-paper__nav-link {
  margin-bottom: 1em;
}

.white-paper__section-link {
  text-decoration: none;
}

/* ---------- 
ABOUT VIEW  
---------- */
.about__partners-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0em 1em 0em;
}

.about__sub-header--top {
  margin-top: 1em;
}

.about__question {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.05em;
  margin-bottom: 0.5em;
  margin: 1em 0em 0.5em 0em;
}

.about__answer {
  margin-bottom: 2em;
}

/* ----------
HOW TO VIEW 
---------- */
.how-to__sub-header--top {
  margin-top: 0.5em;
}

@media (min-width: 600px) {
  .how-to__sub-header--top {
    margin-top: 1em;
  }
}

.how-to__step-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

@media (min-width: 600px) {
  .how-to__step-wrapper {
    flex-direction: row;
  }
}

.how-to__step-image-wrapper {
  background: #c4c4c4;
  width: 100%;
  height: 206px;
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .how-to__step-image-wrapper {
    margin-bottom: 0;
    width: 360px;
  }
}

@media (min-width: 600px) {
  .how-to__step-copy-wrapper {
    margin-left: 1em;
  }
}

/* ----------
CHARTER VIEW
---------- */
.charter__sub-header {
  margin-top: 1em;
}

/* ----------
COOKIE BANNER
---------- */
.cookie-banner {
  background: $primary-highlight-color;
  bottom: 0;
  box-shadow: 0px -3px 3px grey;
  padding: 1em;
  position: fixed;
  width: 100%;
}

.cookie-banner__message {
  @include body-text--large;
  color: $primary-theme-color;
}

@media (min-width: 600px) {
  .cookie-banner__message {
    @include body-text--large-desktop;
    color: $primary-theme-color;
  }
}

.cookie-banner__button-wrapper {
  margin-top: 1em;
}

.cookie-banner__ok-button {
  margin-right: 1em;
}

.cookie-banner__link {
  color: $primary-theme-color;
  font-size: $extra-small-font-size;
  margin-top: 1em;
}
