/* ----------
SIGN UP OPTIONS
---------- */
.sign-up-options__wrapper {
  display: flex;
  margin: 2em 0em 2em 0em;
}

@media (min-width: 600px) {
  .sign-up-options__wrapper {
    margin: 3em 0em;
  }
}

.sign-up-options__metamask-button-wrapper {
  margin-left: 10em;
}

.sign-up-options__metamask-button-wrapper-text {
  margin-bottom: 1em;
}

/* ----------
SIGN UP
---------- */
.sign-up__wrapper {
  margin: 2em 0em;
  max-width: 1000px;
}

.sign-up__header {
  @include view-title;
}

@media (min-width: 600px) {
  .sign-up__wrapper {
    margin: 2em auto;
  }

  .sign-up__header {
    @include view-title--desktop;
  }
}

.sign-up__link {
  text-decoration: underline;
}

/* ----------
LOG IN OPTIONS
---------- */
.log-in-options__wrapper {
  display: flex;
  margin: 2em 0em 2em 0em;
}

@media (min-width: 600px) {
  .log-in-options__wrapper {
    margin-top: 3em;
  }
}

.log-in-options__metamask-button-wrapper {
  margin-left: 10em;
}

.log-in-options__metamask-button-wrapper-text {
  margin-bottom: 1em;
}

/* ----------
LOG IN
---------- */
.log-in__wrapper {
  margin: 2em 1em;
  max-width: 1000px;
}

.log-in__header {
  @include view-title;
}

@media (min-width: 600px) {
  .log-in__wrapper {
    margin: 2em auto;
  }

  .log-in__header {
    @include view-title--desktop;
  }
}

.log-in__test-pilot-wrapper {
  margin-top: 6em;
}

/* ----------
LOG IN SUCCESSS
----------- */
.login__success-wrapper {
  margin-top: 2em;
}

@media (min-width: 600px) {
  .login__success-wrapper {
    margin-top: 3em;
  }
}

/* ----------
CLAIM ACCOUNT
---------- */
.claim-account__wrapper {
  margin: 2em 1em;
}

@media (min-width: 600px) {
  .claim-account__wrapper {
    margin: 2em 4em;
  }
}

.claim-account__header {
  color: #fc7756;
  line-height: 42px;
  font-size: 36px;
  font-weight: 200;
  margin-bottom: 0.5em;
}

@media (min-width: 600px) {
  .claim-account__header {
    margin-top: 0.75em;
    @include view-title--desktop;
  }
}

.claim-account__message {
  @include body-text--large;
  margin: 1em 0;
}

@media (min-width: 600px) {
  .claim-account__message {
    @include body-text--large-desktop;
  }
}

/* ----------
VERIFY CLAIM ACCOUNT
----------- */
.verify-claim-account__wrapper {
  margin: 2em 1em;
}

@media (min-width: 600px) {
  .verify-claim-account__wrapper {
    margin: 2em 4em;
  }
}

.verify-claim-account__header {
  color: #fc7756;
  line-height: 42px;
  font-size: 36px;
  font-weight: 200;
  margin-bottom: 0.5em;
}

@media (min-width: 600px) {
  .verify-claim-account__header {
    margin-top: 0.75em;
    @include view-title--desktop;
  }
}
